<section class="post">
    <form name="EditPostForm">
        <div class="form-group">
            <input type="text" class="form-control" id="inputTitle" placeholder="Title" value="{{post.title}}" ng-model="post.title">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="19" id="textareaContent" ng-model="post.content"></textarea>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="inputTags" placeholder="Tags #1, Tags #2, ..." value="{{post.tags}}" ng-model="post.tags">
        </div>
        <button type="submit" class="btn btn-success" ng-click="save(post, false)">Save</button>
    </form>

</section>
