.sass-cache
*.swp
tags
tmp
api/node_modules
api/log/
api/config/secret.js
api/package-lock.json
api/route/contacts.birthdate.js
api/config/snapshots
app/bower_components/
app/node_modules
app/package-lock.json
app/src/js/config.js
app/upload/
public/
