div.row(ng-hide="offline")
 div.column.small-12.secondary-menu
  i.fi-bookmark.reversed(title='Bookmarks')
  span.divider
  a.fi-pencil(ng-hide="editForm", ng-click='toggleForm()', title='Edit item')
  a.fi-eye(ng-show="editForm", ng-click='toggleForm()', title='View item')
  span.divider
  a.fi-share(title="Share", data-open="share") 
  span.divider
  a.fi-upload(ng-hide="bookmarkForm.title.$error.required", ng-class="{true: 'alert', false: ''}[saveForm]", ng-click='save(bookmark)', title='Save item')
  span.float-right(ng-show="showDeleteBt")
   span.divider
   a.fi-trash(ng-click='deleteBookmark(bookmark)', title='Delete item', confirmation-needed="Really Delete?")

div.row(ng-hide="editForm", ng-if="bookmark")
 div.column.small-12(ng-class='bookmark.category')
  h1 {{bookmark.title}} 
 div.column.small-12
  a.fi-link(href="{{bookmark.url}}")  {{bookmark.url}} 
 div.column.small-12
  p#markdown(markdown='bookmark.content') 

form(name="bookmarkForm", ng-show="editForm")
 div.row
  div.column.small-12(ng-class='bookmark.category')
   input#title(type="text", required='', name="title", placeholder="Title is required", ng-model="bookmark.title", ng-change="isChanged()")
 div.row
  div.column.small-12
   label URL
   input(type="text", placeholder="http://.....", ng-model="bookmark.url", ng-change="isChanged()")
 div.row
  div.column.small-12
   label Description
   textarea#content(rows="10", ng-model="bookmark.content", ng-change="isChanged()", placeholder="You can use Markdown ...")
   input(type="text", placeholder="Tag #1, Tag #2, ...", my-tags='', ng-model="bookmark.tags", ng-change="isChanged()")
 div.row
  div.column.small-12
    span(ng-repeat='tag in bookmark.tags')
     label.label.small.success {{tag}}
 div.row
  fieldset
   legend Label
   div.row
    div.column.small-6 Todo
    div.switch.small-6.column.bookmark-todo.todo
     input.switch-input#bookmark-todo(type="radio", value="todo", name="bookmarkCategory", ng-model="bookmark.category", ng-change="isChanged()")
     label.switch-paddle(for="bookmark-todo")
   div.row
    div.column.small-6 Business
    div.switch.small-6.column.bookmark-business.business
     input.switch-input#bookmark-business.business(type="radio", value="business", name="bookmarkCategory", ng-model="bookmark.category", ng-change="isChanged()")
     label.switch-paddle(for="bookmark-business")
   div.row
    div.column.small-6 Hobby
    div.switch.small-6.column.bookmark-hobby.hobby
     input.switch-input#bookmark-hobby(type="radio", value="hobby", name="bookmarkCategory", ng-model="bookmark.category", ng-change="isChanged()")
     label.switch-paddle(for="bookmark-hobby") 
   div.row
    div.column.small-6 Other
    div.switch.small-6.column.bookmark-other.other
     input.switch-input#bookmark-other(type="radio", value="other", name="bookmarkCategory", ng-model="bookmark.category", ng-change="isChanged()")
     label.switch-paddle(for="bookmark-other") 
div.row(ng-if="bookmark")
 div.column.small-6.meta-data
  i Created:  {{bookmark.created | date: 'yyyy-MM-dd'}}
 div.column.small-6.meta-data
  i Updated:  {{bookmark.updated | date: 'yyyy-MM-dd'}}

div.row
 div#share.reveal.full(data-reveal='')
   button.close-button(data-close='', type="button")
    span(aria-hidden="true") &times;
   div.row
    div.small-12.columns
     fieldset
      legend.fi-share  Share with
      include ./includes/share.jade
