div.row(ng-hide="offline")
 div.column.small-12.secondary-menu
  i.fi-bookmark.reversed(title='Bookmarks')
  span.divider
  a.fi-magnifying-glass(ng-click='toggleSearch()', title='Show/Hide Search', tabindex="1")
  span.float-right
   span.divider
   a.fi-plus(ui-sref='bookmark.create',title='New item')

div.row.flip-in(ng-show="searchForm")
 div.columns.small-10
  input.search-box(focus-me="searchForm", type="text", placeholder="Bookmark search ...", ng-model="searchKey")
 div.columns.small-2
  button.reset-button(ng-click="resetSearch()")
   span(aria-hidden="true") &times;

div.row.my-row(ng-repeat='bookmark in bookmarks', ng-class="bookmark.category", ng-class-odd="'odd'" ng-class-even="'even'")
  a(ui-sref='bookmark.view({id: bookmark._id})')
   div.columns.medium-10 {{bookmark.title}}
  div.column.medium-2.hide-for-small-only
   div.secondary.label {{bookmark.created | date: 'yyyy-MM-dd'}}
div.columns.meta-data(ng-if="!bookmarks") No bookmarks yet

