div.row
 div.colums.small-12.secondary-menu
  a.fi-plus(href='#/bookmark/create',title='New item')
div.row.my-row
 div.column.small-12
  h2#bookmark Bookmark
  a(ui-sref="bookmark.list") Show bookmarks
div.row
 div.column.small-12.toggle(ui-view="")
