div.row(ng-hide="offline")
 span(ng-hide="searchForm")
  div.column.small-12.secondary-menu
   i.fi-bookmark.reversed(title='Bookmarks')
   span.divider
   a.fi-magnifying-glass(ng-click='toggleSearch()', title='Show/Hide Search', tabindex="1")
   span.divider
   a.fi-widget(title="Settings", data-reveal-id="bookmark-settings", data-reveal-ajax="true") 
   span.right
    span.divider
    a.fi-plus(ui-sref='bookmark.create',title='New item')

div.row.flip-in(ng-show="searchForm")
 form#search
  div.columns.small-10
   input#search-input.radius.search-box(focus-me="searchForm", type="text", placeholder="Bookmark search ...", ng-model="searchKey")
  div.columns.small-2
   button.tiny.reset-button(type="reset", ng-click="resetSearch()") &#215;

div.row.my-row(ng-repeat='bookmark in bookmarks', ng-class="bookmark.category", ng-class-odd="'odd'" ng-class-even="'even'")
  a(ui-sref='bookmark.view({id: bookmark._id})')
   div.columns.medium-10 {{bookmark.title}}
  div.column.medium-2.hide-for-small
   div.round.secondary.label {{bookmark.created | date: 'yyyy-MM-dd'}}

div.row
 div#bookmark-settings.reveal-modal(data-reveal='')
  a.close-reveal-modal &#215;
  h2 General bookmark settings
  fieldset
   legend Limit bookmarks per request
   div.row
    div.column.small-6.my-row List 20
     span.meta-data fast
    div.switch.round.column.small-6
     input#bookmark-20(type="radio", value="20", name="bookmarkLimit", ng-model="bookmarkLimit", ng-change="changeLimit(20)")
     label(for="bookmark-50") 
   div.row
    div.column.small-6.my-row List 50
     span.meta-data
    div.switch.round.column.small-6
     input#bookmark-50(type="radio", value="50", name="bookmarkLimit", ng-model="bookmarkLimit", ng-change="changeLimit(50)")
     label(for="bookmark-50") 
   div.row
    div.column.small-6.my-row List 250
    div.switch.round.column.small-6
     input#bookmark-250(type="radio", value="200", name="bookmarkLimit", ng-model="bookmarkLimit", ng-change="changeLimit(250)")
     label(for="bookmark-250") 
   div.row
    div.column.small-6.my-row List 1000
     span.meta-data slow
    div.switch.round.column.small-6
     input#bookmark-1000(type="radio", value="1000", name="bookmarkLimit", ng-model="bookmarkLimit", ng-change="changeLimit(1000)")
     label(for="bookmark-1000")
   div.row
    div.small-12
     span.meta-data
      i  * Settings only for this device. 
