form(name="eventForm")
 div.row(ng-hide="offline")
  div.column.small-12.text-left.secondary-menu
   i.fi-calendar.reversed(title='Calendar')
   span.divider
   a.fi-pencil(ng-hide="editForm", ng-click='toggleForm()', title='Edit item')
   a.fi-eye(ng-show="editForm", ng-click='toggleForm()', title='View item')
   span.divider
   a.fi-share(title="Share", data-reveal-id="share", data-reveal-ajax="true") 
   span.divider
   span(ng-hide="eventForm.title.$error.required")
    a.fi-upload(ng-class="{true: 'alert', false: ''}[isChanged]", ng-click="upsertEvent(cal,'insert')", ng-show="showAddBt", title='Add event', tabindex=2)
    a.fi-upload(ng-class="{true: 'alert', false: ''}[isChanged]", ng-click="upsertEvent(cal,'update')", ng-hide="showAddBt", title='Update event', tabindex=2)
   span.right(ng-show="showDeleteBt")
    span.divider
    a.fi-trash(ng-click='deleteEvent(cal)', title='Delete item', confirmation-needed="Really Delete?")

 div.row(ng-hide="editForm", ng-if="cal.title")
  div.column.small-12(ng-class="cal.className")
   h2 {{cal.title}}
  div.column.small-12
   div.round.warning.label(ng-if='cal.tzShow') {{cal.tzGuess}}
  div.column.small-12
   div.round.secondary.label {{cal.start | date: 'EEE dd MMM'}}
   div.round.label(ng-hide='cal.allDay') {{cal.start | date: 'HH:mm'}}
   div.round.secondary.label  {{cal.end | date: 'EEE dd MMM'}} 
   div.round.label(ng-hide='cal.allDay') {{cal.end | date: 'HH:mm'}}
   div.round.secondary.label(ng-show='cal.allDay') all day
  div.column.small-12(ng-if='cal.tzShow')
   div.round.warning.label {{cal.tz}}
  div.column.small-12(ng-if='cal.tzShow')
   div.round.secondary.label {{cal.tzStartDate}}
   div.round.label(ng-hide='cal.allDay') {{cal.tzStartTime}}
   div.round.secondary.label  {{cal.tzEndDate}} 
   div.round.label(ng-hide='cal.allDay') {{cal.tzEndTime}}
   div.round.secondary.label(ng-show='cal.allDay') all day
 div.row(ng-hide="editForm")
  div.column.small-12(markdown="cal.description")

 div.row(ng-show="editForm", ng-class="cal.className")
  div.column.small-12(ng-class="cal.className")
   input#title(type="text", name="title", ng-model="cal.title", required="", placeholder="Title required for {{cal.start| date: 'EEE d MMM'}}", tabindex=1)
 div.row 
  div.column.small-12 &nbsp; 
 div.row
  div.column.small-2 Start 
  div.column.small-6
   input(type="date", ng-model="cal.start", required="", ng-change="setEnd(cal)")
  div.column.small-4 
   input(type="time", ng-model="cal.start", ng-hide="cal.allDay", ng-change="setEnd(cal)")
 div.row
  div.column.small-2 End
  div.column.small-6
   input(type="date", ng-model="cal.end")
  div.column.small-4
   input(type="time", ng-model="cal.end", ng-hide="cal.allDay")
 div.row
  div.column.small-6 Allday
  div.column.small-6 
   div.switch.round
    input#allDay(type="checkbox", ng-model="cal.allDay", ng-click="allDayChange(cal)")
    label(for="allDay")
 div.row
  div.column.small-12 Description
   textarea(ng-model="cal.description", rows="10", placeholder="You can use Markdown ...")
 div.row
  div.column.small-6 Appointment
  div.switch.round.column.small-6.cal-appointment
   input#cal-appointment(type="radio", value="appointment", name="className", ng-model="cal.className", ng-change="change()")
   label(for="cal-appointment") 
 div.row.my-row
  div.column.small-6 Memo
  div.switch.round.column.small-6.cal-memo
   input#cal-memo(type="radio", value="memo", name="className", ng-model="cal.className", ng-change="change()")
   label(for="cal-memo") 
 div.row
  div.column.small-12
   div.label.strong(ng-hide="timezone", ng-click='advanced = !advanced') Toggle Advanced
 div.row(ng-show="advanced")
  div.column.small-12
   p
    label Timezones
    select(ng-model="cal.tz", ng-options="option for option in tznames", value="{{option}}") {{option}}

div.row(ng-if="cal.created")
 div.column.small-12.my-row
 div.column.small-6.meta-data
  i Created:  {{cal.created | date: 'yyyy-MM-dd'}}
 div.column.small-6.meta-data
  i Updated:  {{cal.updated | date: 'yyyy-MM-dd'}}
 div.column.small-12.post-meta
   ul.inline-list
    li.tag(ng-repeat='tag in post.tags')
     a.label.radius.success {{tag}}

div.row
  div#share.reveal-modal(data-reveal='')
   a.close-reveal-modal &#215;
   div.row
    div.small-12.columns
     fieldset
      legend.fi-share  Share with
      include ./includes/share.jade
