div.row(ng-hide="offline")
 div.columns.small-12 &nbsp;
  div.row
   div.columns.small-10
    input(focus-me="searchForm", type="text", placeholder="Calendar search ...", ng-model="searchKey")
   div.columns.small-2
    button.tiny.reset-button(ng-click="resetSearchKey()",type="reset") &#215;
div.row.my-row(ng-repeat='event in events', ng-class="event.className", ng-class-odd="'odd'" ng-class-even="'even'")
 a(ui-sref='calendar.event({id: event._id})')
  div.columns.small-12.medium-7 {{event.title}}
  div.columns.small-9.medium-3.meta-data {{event.start | date: 'EEEE d MMMM yyyy'}}
  div.columns.small-3.medium-2
   div.secondary.label(ng-show='event.allDay==="true"') all day
  div.columns.small-3.medium-2
   div.label(ng-hide='event.allDay==="true"') {{event.start | date: 'HH:mm'}}
