div.row
 div.column.small-8.text-left.secondary-menu
  a.fi-thumbnails(ng-click="changeView('month')", title='Month view')
  span.divider
  a.fi-list-thumbnails(ng-click="changeView('basicWeek')", title='Week view')
  span.divider
  a.fi-list(ng-click="changeView('basicDay')", title='Day view')
 div.column.small-4.text-right.secondary-menu
  span.divider
  a.fi-target-two(ng-click="gotoToday()", title='Today')

div.row
 div#myCalendar.calendar(ui-calendar="uiConfig.calendar" ng-model="eventSources")

