div.row(ng-hide="offline")
 div.column.small-10.text-left.secondary-menu
  | &nbsp;
  a(ng-click="changeView('month')", title='Month view')  M
  span.divider
  a(ng-click="changeView('basicWeek')", title='Week view') W
  span.divider
  a(ng-click="changeView('basicDay')", title='Day view') D
  span.divider
  a.fi-target-two(ng-click='gotoToday()', title='Today', tabindex="1")
  span.divider
  a.fi-magnifying-glass(ng-click='searchCalendar()', title='Search', tabindex="1")
 div.column.small-2.text-right.secondary-menu
  a.fi-plus(ui-sref="calendar.event({start: 'new'})", title='New event')

div.row
 div#myCalendar.calendar.scale-fade(ui-calendar="uiConfig.calendar" ng-model="eventSources", 
                         ng-swipe-left="next()", ng-swipe-right="prev()")

