div.row
 div.column.small-6.text-left.secondary-menu
  a.fi-widget(href="",data-reveal-id="cal-settings", data-reveal-ajax="true") 
  span.divider
  a.fi-save(ng-class="{true: 'alert', false: ''}[isChanged]", ng-click="upsertEvent(cal,'insert')", ng-show="showAddBt", title='Add event', tabindex=2)
  a.fi-save(ng-class="{true: 'alert', false: ''}[isChanged]", ng-click="upsertEvent(cal,'update')", ng-hide="showAddBt", title='Update event', tabindex=2)
 div.column.small-6.text-right.secondary-menu
  a.fi-trash(ng-click='deleteEvent(cal)', title='Delete item', confirmation-needed="Really Delete?", ng-show="showDeleteBt")

div.row
 form(novalidate='')
  div.column
   div.row
    div.column.small-12
     input(type="text",ng-model="cal.title", required="", placeholder="Title", tabindex=1)
   div.row
    div.column.small-2 Start 
    div.column.small-6
     input(type="date", ng-model="cal.start", required="", ng-change="setEnd(cal)")
    div.column.small-4 
     input(type="time", ng-model="cal.start", ng-hide="cal.allDay", ng-change="setEnd(cal)")
   div.row
    div.column.small-2 End
    div.column.small-6
     input(type="date", ng-model="cal.end")
    div.column.small-4
     input(type="time", ng-model="cal.end", ng-hide="cal.allDay")
   div.row
    div.column.small-2 Allday
    div.column.small-10 
     div.switch.round.large
      input#allDay(type="checkbox", ng-model="cal.allDay", ng-click="allDayChange(cal)")
      label(for="allDay")
   div.row
    div.column.small-12 Description
     textarea(ng-model="cal.description")
div.row
 div.column.small-6.post-meta.panel
  i Created:  {{cal.created | date: 'yyyy-MM-dd HH:mm'}}
 div.column.small-6.post-meta.panel
  i Updated:  {{cal.updated | date: 'yyyy-MM-dd HH:mm'}}
 div.column.small-12.post-meta
   ul.inline-list
    li.tag(ng-repeat='tag in post.tags')
     a.label.radius.success(href='#/tag/{{tag}}') {{tag}}

div.row
 div#cal-settings.reveal-modal(data-reveal='')
  a.close-reveal-modal &#215;
  fieldset
   div.row
    div.column.small-6.my-row.appointment Appointment
    div.switch.round.column.small-6.cal-appointment
     input#cal-appointment(type="radio", value="appointment", name="className", ng-model="cal.className", ng-change="change()")
     label(for="cal-appointment") 
   div.row
    div.column.small-6.my-row.memo memo
    div.switch.round.column.small-6.cal-memo
     input#cal-memo(type="radio", value="memo", name="className", ng-model="cal.className", ng-change="change()")
     label(for="cal-memo") 

