div.row
 div.colums.small-12.secondary-menu
  a.fi-plus(href='#/calendar/create',title='New item')
div.row.my-row
 div.column.small-12 
  h2 Calendar
  a(ui-sref="calendar.list") Show calendar list
div.row
 div.column.small-12(ui-view="")
