div.row(ng-hide="offline")
 div.column.small-8.text-left.secondary-menu
  | &nbsp;
  a.fi-star(ui-sref="contact.starred({starred: true})", title='Starred contacts', tabindex="1")
  span.divider
  a.fi-crown(ui-sref="contact.birthdate({birthdate: true})", title='Contacts with birthdates', tabindex="1")
  span.divider
  a.fi-torsos(ui-sref='contact.list', title='List contacts', tabindex="1")
 div.column.small-4.text-right.secondary-menu
  span.divider
  a.fi-plus(ui-sref='contact.create',title='New item')

div.row
 div.columns.small-4.medium-3.large-2.starred-list(ng-repeat='contact in contacts')
  a(ui-sref='contact.view({id: contact._id})')
   img.photo(ng-show="contact.photo == undefined || contact.photo == ''", ng-src="/static/images/profile.jpg")
   img.photo(ng-show="contact.photo != undefined", ng-src="{{contact.photo}}")
   p.name {{contact.name}}
 div.columns.meta-data(ng-if="!contacts") No starred 
  i.fi-star  contacts yet

