div.row(ng-hide="offline")
 div.column.small-8.text-left.secondary-menu
  i.fi-torsos.reversed(title='Contacts')
  span.divider
  a.fi-magnifying-glass(ng-click='toggleSearch()', title='Search', tabindex="1")
  span.divider
  a.fi-widget(href="", title="Settings", data-reveal-id="contact-settings", data-reveal-ajax="true") 
 div.column.small-4.text-right.secondary-menu
  span.divider
  a.fi-plus(href='#/contact/create',title='New item')

div.row(ng-show="searchForm")
 form#search
  div.columns.small-10
   input#search-input.radius.search-box(type="text", placeholder="Enter search ...", ng-model="searchKey" tabindex="1")
  div.columns.small-2
   button.tiny.reset-button(type="reset", ng-click="resetSearch()") &#215;

div.row.my-row(ng-repeat='contact in contacts', ng-class-odd="'odd'" ng-class-even="'even'")
 a(href='#/contact/{{contact._id}}')
  div.columns.small-10.medium-5 {{contact.name}} &nbsp;
  div.columns.hide-for-small.medium-5 &nbsp; {{contact.companies[0].name}}
  div.column.small-2.medium-2
 div(ng-show='contact.starred', ng-click='updateStarredState(contact, false)')
  i.starred.fi-star
 div(ng-show='!contact.starred', ng-click='updateStarredState(contact, true)')
  i.un-starred.fi-star

div.row
 div#contact-settings.reveal-modal(data-reveal='')
  a.close-reveal-modal &#215;
  h2 General contact settings
  fieldset
   div.row
    div.column.small-6.my-row List 20 contacts
    div.switch.round.column.small-6
     input#contact-20(type="radio", value="20", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(20)")
     label(for="contact-20")
   div.row
    div.column.small-6.my-row List 50 contacts
    div.switch.round.column.small-6
     input#contact-50(type="radio", value="50", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(50)")
     label(for="contact-50") 
   div.row
    div.column.small-6.my-row List 100 contacts
    div.switch.round.column.small-6
     input#contact-100(type="radio", value="100", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(100)")
     label(for="contact-100") 
   div.row
    div.column.small-6.my-row List 1000 contacts
    div.switch.round.column.small-6
     input#contact-1000(type="radio", value="1000", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(1000)")
     label(for="contact-1000")
  fieldset
   div.row
    div.column.small-12 &nbsp;
   div.row
    div.column.small-6
     button.radius(ng-click='saveSettings()', title='Save settings') Save
    div.column.small-6
     span.contact-meta Settings wil be reset on logout

