div.row(ng-hide="offline")
 div.column.small-8.text-left.secondary-menu
  | &nbsp;
  a.fi-star(ui-sref="contact.starred({starred: true})", title='Starred contacts', tabindex="1")
  span.divider
  a.fi-torsos(ui-sref="contact.list", title='All contacts', tabindex="2")
  span.divider
  a.fi-widget(title="Settings", data-reveal-id="contact-settings", data-reveal-ajax="true") 
 div.column.small-4.text-right.secondary-menu
  span.divider
  a.fi-plus(ui-sref='contact.create',title='New item')

div.row
 ul.small-block-grid-3.medium-block-grid-4.large-block-grid-6.starred-list
  li.name(ng-repeat='contact in contacts')
   a(name="{{contact.birthdate | date: 'MM'}}")
   a(ui-sref='contact.view({id: contact._id})')
    img.photo(ng-show="!contact.photo || contact.photo === ''", ng-src="/static/images/profile.jpg")
    img.photo(ng-show="contact.photo", ng-src="{{contact.photo}}")
    p {{contact.name}}
    p.meta-data {{contact.birthdate | date: 'dd MMMM yyyy'}} ({{calculateAge(contact.birthdate) }})
 div.columns.meta-data(ng-if="!contacts") No contacts with birthdate 
  i.fi-crown  yet

include ./includes/contact.settings.jade
