div.row(ng-hide="offline")
 div.column.small-9.text-left.secondary-menu
  | &nbsp;
  a.fi-star.starred(ng-show='contact.starred', ng-click='updateStarredState(contact, false)', title='Starred contact', tabindex="1")
  a.fi-star.un-starred(ng-show='!contact.starred', ng-click='updateStarredState(contact, true)', title='Starred contact', tabindex="1")
  span.divider
  a.fi-pencil(ng-hide="editForm", ng-click='toggleForm()', title='Edit item')
  a.fi-eye(ng-show="editForm", ng-click='toggleForm()', title='View item')
  span.divider
  span(ng-hide="contactForm.name.$error.required")
   a.fi-upload(ng-class="{true: 'alert', false: ''}[saveForm]", ng-click="upsertContact(contact,'insert')", ng-show="showAddBt", title='Add contact')
   a.fi-upload(ng-class="{true: 'alert', false: ''}[saveForm]", ng-click="upsertContact(contact,'update')", ng-hide="showAddBt", title='Update contact')
 div.column.small-3.text-right.secondary-menu
  span.divider
  a.fi-trash(ng-click='deleteContact(contact)', title='Delete item', confirmation-needed="Really Delete?")

div(ng-hide="editForm")
 div.row.profile-bg(style="background: url({{contact.photo}}); background-size: cover; background-position: center;")
 div.row
  div.column.text-right(ng-if="contact.birthdate")
   label.fi-crown  {{contact.birthdate | date: 'dd MMM'}} | {{ calculateAge(contact.birthdate) }}
 div.row.profile-row
  div.column.small-12.text-center
   img.profile-img(ng-if="contact.photo", ng-src="{{contact.photo}}")
  div.column.small-12.contact-name {{contact.name}}
 div.row
  div.column.small-12.medium-6

   // Phones
   div.row.item-title(ng-if="contact.phones[0]") Phone numbers
   div.row(ng-repeat="item in contact.phones")
    a(href="tel:{{item.value}}")
     div.column.small-8
      label {{item.type}}
      | {{item.value | tel}} &nbsp;
     div.column.small-4.text-right
      i.icon-button.fi-telephone

   // Companies
   div.row.item-title(ng-if="contact.companies[0]") Companies
   div.row(ng-repeat="item in contact.companies")
    div.column.small-8
     label {{item.name}}
     | {{item.title}} &nbsp;
    div.column.small-4.text-right
     i.icon-button.fi-torso-business

   // Relations
   div.row.item-title(ng-if="contact.relations[0]") Relations
   div.row(ng-repeat="item in contact.relations")
    a(href="/#/contact/{{item.id}}") 
     div.column.small-8
      label {{item.type}}
      | {{item.value}} &nbsp;
     div.column.small-4.text-right
      i.icon-button.fi-torsos

   // Emails
   div.row.item-title(ng-if="contact.emails[0]") Emails
   div.row(ng-repeat="item in contact.emails")
    a(href="mailto:{{item.value}}")
     div.column.small-8
      label {{item.type}}
      | {{item.value}} &nbsp;
     div.column.small-4.text-right
      i.icon-button.fi-mail

   // Websites
   div.row.item-title(ng-if="contact.websites[0]") Websites
   div.row(ng-repeat="item in contact.websites")
    a(href="{{item.value}}")
     div.column.small-8
      label {{item.type}}
      | {{item.value}} &nbsp;
     div.column.small-4.text-right
      i.icon-button.fi-link

   // Addresses
   div.row.item-title(ng-if="contact.addresses[0]") Addresses
   div.row(ng-repeat="item in contact.addresses")
    a(href="https://maps.google.nl/maps?q={{item.value}}")
     div.column.small-8
      label {{item.type}}
      | {{item.value}} &nbsp;
     div.column.small-4.text-right
      i.icon-button.fi-map

   // Birthdate
   div.row.item-title(ng-if="contact.birthdate > 0") Other
   div.row(ng-if="contact.birthdate != null")
    div.column.small-8
     label Birthdate
     | {{contact.birthdate | date: 'dd MMMM yyyy'}}
    div.column.small-4.text-right
     i.icon-button.fi-crown

  div.column.small-12.medium-6
   div.row.item-title Notes
   div.row
    div.column.p#markdown(markdown='contact.notes') 

 div.row
  div.column.small-6.date-meta.panel
   i Created:  {{contact.created | date: 'yyyy-MM-dd'}}
  div.column.small-6.date-meta.panel
   i Updated:  {{contact.updated | date: 'yyyy-MM-dd'}}

form#contact-form(method="post", autocomplete="on", name="contactForm",ng-show="editForm")
 div.row
  div.column.small-12
   input#title-input(type="text", required='', name="name", placeholder="Fullname", ng-model="contact.name", ng-change="isChanged()")

  // Phones
  div.column.small-10.item-title Phonenumbers
  div.column.small-2.text-center
   a.fi-plus(ng-click="AddField('phones')", title="New item")
  div.column.small-12
   div.row(ng-repeat="item in contact.phones")
    div.column.small-6
     input.items(type="text", ng-model="item.value", ng-change="isChanged()", placeholder="+31...")
    div.column.small-4
     select(ng-class="{false: 'hide'}[customValue !== contact.phones[$index].type]", 
      | ng-model="item.type", ng-options="type for type in contactPhoneOptions", ng-change="labelChanged('phones', $index, contact.phones[$index].type)")
      option(value="") {{contact.phones[$index].type}}
     input.items(ng-class="{false: 'hide'}[customValue === contact.phones[$index].type]",
      | type="text", ng-model="item.type", ng-change="labelChanged('phones', $index, contact.phones[$index].type)", placeholder="Custom ...")
    div.column.small-2.text-center
     button.tiny.reset-button(type="reset", ng-click="DiscardField('phones', $index)") &#215;

  // Companies
  div.column.small-10.item-title Companies
  div.column.small-2.text-center
   a.fi-plus(ng-click="AddField('companies')", title="New item")
  div.column.small-12
   div.row(ng-repeat="item in contact.companies")
    div.column.small-6
     input.items(type="text", ng-model="item.name", ng-change="isChanged()", placeholder="Name ...")
    div.column.small-4
     input.items(type="text", ng-model="item.title", ng-change="isChanged()", placeholder="Title ...")
    div.column.small-2.text-center
     button.tiny.reset-button(type="reset", ng-click="DiscardField('companies', $index)") &#215;

  // Relations
  div.column.small-10.item-title Relations
  div.column.small-2.text-center
   a.fi-plus(href="",data-reveal-id="contact-relations", data-reveal-ajax="true") 
  div.column.small-12
   div.row(ng-repeat="item in contact.relations")
    div.column.small-6
     input.items(type="text", ng-model="item.value", ng-change="isChanged()")
    div.column.small-4
     select(ng-class="{false: 'hide'}[customValue !== contact.relations[$index].type]", 
      | ng-model="item.type", ng-options="type for type in contactRelationOptions", ng-change="labelChanged('relations', $index, contact.relations[$index].type)")
      option(value="") {{contact.relations[$index].type}}
     input.items(ng-class="{false: 'hide'}[customValue === contact.relations[$index].type]",
      | type="text", ng-model="item.type", ng-change="labelChanged('relations', $index, contact.relations[$index].type)", placeholder="Custom ...")
    div.column.small-2.text-center
     button.tiny.reset-button(type="reset", ng-click="DiscardField('relations', $index)") &#215;

  // E-mails
  div.column.small-10.item-title E-mailaddresses
  div.column.small-2.text-center
   a.fi-plus(ng-click="AddField('emails')", title="New item")
  div.column.small-12
   div.row(ng-repeat="item in contact.emails")
    div.column.small-6
     input.items(type="email", ng-model="item.value", ng-change="isChanged()", placeholder="name@domain.org")
    div.column.small-4
     select(ng-class="{false: 'hide'}[customValue !== contact.emails[$index].type]", 
      | ng-model="item.type", ng-options="type for type in contactEmailOptions", ng-change="labelChanged('emails', $index, contact.emails[$index].type)")
      option(value="") {{contact.emails[$index].type}}
     input.items(ng-class="{false: 'hide'}[customValue === contact.emails[$index].type]",
      | type="text", ng-model="item.type", ng-change="labelChanged('emails', $index, contact.emails[$index].type)", placeholder="Custom ...")
    div.column.small-2.text-center
     button.tiny.reset-button(type="reset", ng-click="DiscardField('emails', $index)") &#215;

  // Websites
  div.column.small-10.item-title Websites
  div.column.small-2.text-center
   a.fi-plus(ng-click="AddField('websites')", title="New item")
  div.column.small-12
   div.row(ng-repeat="item in contact.websites")
    div.column.small-6
     input.items(type="url", ng-model="item.value", ng-change="isChanged()", placeholder="http://website.org")
    div.column.small-4
     select(ng-class="{false: 'hide'}[customValue !== contact.websites[$index].type]", 
      | ng-model="item.type", ng-options="type for type in contactWebsiteOptions", ng-change="labelChanged('websites', $index, contact.websites[$index].type)")
      option(value="") {{contact.websites[$index].type}}
     input.items(ng-class="{false: 'hide'}[customValue === contact.websites[$index].type]",
      | type="text", ng-model="item.type", ng-change="labelChanged('websites', $index, contact.websites[$index].type)", placeholder="Custom ...")
    div.column.small-2.text-center
     button.tiny.reset-button(type="reset", ng-click="DiscardField('websites', $index)") &#215;

  // Addresses
  div.column.small-10.item-title Addresses
  div.column.small-2.text-center
   a.fi-plus(ng-click="AddField('addresses')", title="New item")
  div.column.small-12
   div.row(ng-repeat="item in contact.addresses")
    div.column.small-6
     input.items(type="text", ng-model="item.value", ng-change="isChanged()")
    div.column.small-4
     select(ng-class="{false: 'hide'}[customValue !== contact.addresses[$index].type]", 
      | ng-model="item.type", ng-options="type for type in contactAddressOptions", ng-change="labelChanged('addresses', $index, contact.addresses[$index].type)")
      option(value="") {{contact.addresses[$index].type}}
     input.items(ng-class="{false: 'hide'}[customValue === contact.addresses[$index].type]",
      | type="text", ng-model="item.type", ng-change="labelChanged('addresses', $index, contact.addresses[$index].type)", placeholder="Custom ...")
    div.column.small-2.text-center
     button.tiny.reset-button(type="reset", ng-click="DiscardField('addresses', $index)") &#215;

 // Brithdate
 div.row
  div.column.small-12.item-title Birthdate
  div.column.small-12 &nbsp;
   input.items(type="date", ng-model="contact.birthdate", ng-change="isChanged()")

 // Photo url
 div.row
  div.column.small-12.item-title Photo url or upload a photo
  div.column.small-12
   input.items(type="text", name="contact-photo", ng-model="contact.photo", ng-change="isChanged()", placeholder="http://path/to/photo")
  div.column.small-6(ng-hide="uploadProcess")
   input(type="file", file-model="contactPhoto")
  div.column.small-6(ng-hide="uploadProcess")
   button.small.radius(ng-click="uploadContactPhotoFile()") Upload
  div.row(ng-show="uploadProcess")
   div.column.small-12(us-spinner="{radius:8, width:3, length: 8}", spinner-key="spinner-1") &nbsp;

 // Notes
 div.row
  div.column.small-12.item-title Notes
  div.column.small-12
   textarea(rows="10", ng-model="contact.notes", ng-change="isChanged()", placeholder="You can use Markdown ...")

div.row
 div#contact-relations.reveal-modal(data-reveal='')
  a.close-reveal-modal &#215;
  div.row
   form#search
    div.columns.small-12
     input.radius.search-box(name="focus", type="text", placeholder="Enter search ...", ng-model="searchKey" )

  div.row.my-row(ng-repeat='contact in contacts', ng-class-odd="'odd'" ng-class-even="'even'")
   div(ng-click="AddRelation(contact._id, contact.name)")
    div.columns.small-12.medium-6 {{contact.name}} 
    div.columns.hide-for-small.medium-6 &nbsp; {{contact.companies[0].name}}

