form(name="contactForm")
 div.row(ng-hide="offline")
  div.column.small-9.text-left.secondary-menu
   i.fi-page.reversed(title='Contacts')
   span.divider
   a.fi-page-edit(ng-hide="editForm", ng-click='toggleForm()', title='Edit item')
   a.fi-eye(ng-show="editForm", ng-click='toggleForm()', title='View item')
   span.divider
   a.fi-widget(href="",data-reveal-id="contact-settings", data-reveal-ajax="true") 
   span.divider
   a.fi-upload(ng-hide="contactForm.name.$error.required", ng-class="{true: 'alert', false: ''}[saveForm]", ng-click='save(contact)', title='Save item')
  div.column.small-3.text-right.secondary-menu
   span.divider
   a.fi-trash(ng-click='deleteContact(contact)', title='Delete item', confirmation-needed="Really Delete?")
 
 div.row(ng-hide="editForm")
  div.column.small-12
  h1(ng-class='contact.relation') {{contact.name}}
  fieldset
   legend Phone
   div(ng-repeat="item in contact.phones", ng-class-odd="'odd'" ng-class-even="'even'")
    div.column.small-8
     a.success.phone-button.fi-telephone(href="unsafe:tel:{{item.value}}")  {{item.value}}
    div.column.small-4 {{item.type}}
  div.column.small-12
   p(markdown='contact.note') 

 div#contact-form.row(ng-show="editForm")
  div.column.small-12(ng-class="contact.relation")
   input#title-input(type="text", required='', name="name", placeholder="Title is required", ng-model="contact.name", ng-change="isChanged()")
  div.column
   fieldset
    legend Phone
    div.row(ng-repeat="item in contact.phones")
     div.column.small-5
      input.items(type="text", ng-model="item.value")
     div.column.small-5
      select(ng-model="item.type", ng-options="type for type in contactPhoneOptions")
     div.column.small-2
     button.tiny.reset-button(type="reset", ng-click="DiscardField('phones', $index)") &#215;
    div.column.small-10.text-right Add phonenumber
    div.column.small-2
      a.fi-plus(ng-click="AddField('phones')", title="New item")
  div.column.small-12
   textarea(rows="19", ng-model="contact.note", ng-change="isChanged()", placeholder="You can use Markdown ...")
   input#inputTags(type="text", placeholder="Tag #1, Tag #2, ...", my-tags='', ng-model="contact.tags", ng-change="isChanged()")
  div.column.small-12.contact-meta
    ul.inline-list
     li.tag(ng-repeat='tag in contact.tags')
      a.label.radius.success(href='#/tag/{{tag}}') {{tag}}
  div.column.small-6.date-meta.panel
   i Created:  {{contact.created | date: 'yyyy-MM-dd HH:mm'}}
  div.column.small-6.date-meta.panel
   i Updated:  {{contact.updated | date: 'yyyy-MM-dd HH:mm'}}

div.row
 div#contact-settings.reveal-modal(data-reveal='')
  a.close-reveal-modal &#215;
  fieldset
   div.row
    div.column.small-6.my-row.friend Friend
    div.switch.round.column.small-6.contact-friend
     input#contact-friend.friend(type="radio", value="friend", name="contactType", ng-model="contact.relation", ng-change="isChanged()")
     label(for="contact-friend")
   div.row
    div.column.small-6.my-row.family Family
    div.switch.round.column.small-6.contact-family
     input#contact-family(type="radio", value="family", name="contactType", ng-model="contact.relation", ng-change="isChanged()")
     label(for="contact-family")
   div.row
    div.column.small-6.my-row.colleague Colleague
    div.switch.round.column.small-6.contact-colleague
     input#contact-colleague(type="radio", value="colleague", name="contactType", ng-model="contact.relation", ng-change="isChanged()")
     label(for="contact-colleague") 
   div.row
    div.column.small-6.my-row.business Business
    div.switch.round.column.small-6.contact-business
     input#contact-business(type="radio", value="business", name="contactType", ng-model="contact.relation", ng-change="isChanged()")
     label(for="contact-business") 
  fieldset
   div.row
    div.column.small-12 &nbsp;
   div.row
    div.column.small-6 Starred
    div.switch.round.column.small-6.contact-starred
     input#starred(type="checkbox", ng-model="contact.starred", ng-change="isChanged()")
     label(for="starred")
  fieldset
   div.row
    div.column.small-12 &nbsp;
   div.row
    div.column.small-12
     button.radius(ng-click='save(contact)', title='Save item') Save settings

