div.row
 div.columns.small-3
  h1.home PIM
 div.columns.small-9.text-right
  button.small.radius.fi-lock(ui-sref="user.logout", ng-if="isAuthenticated")  Logout
div.row.home
 div.column.small-12
  i.fi-calendar  Next 7 days events
div.row.my-row(ng-repeat='event in events', ng-class="event.className", ng-class-odd="'odd'" ng-class-even="'even'")
 a(href='#/calendar/event/{{event._id}}')
  div.columns.medium-9 {{event.title}}
  div.column.medium-3
   div.round.secondary.label {{event.start | date: 'yyyy-MM-dd'}}
   div.round.secondary.label(ng-show='event.allDay==="true"') all day
   div.round.label(ng-hide='event.allDay==="true"') {{event.start | date: 'HH:mm'}}
   div.round.label(ng-hide='event.allDay==="true"') {{event.end | date: 'HH:mm'}}
div.row
 div.columns.meta-data(ng-if="!events") No events yet

div.row.home
 div.column.small-12
  i.fi-torsos  Last viewed contacts

div.row.my-row(ng-repeat='contact in contacts', ng-class-odd="'odd'" ng-class-even="'even'")
 a(href='#/contact/{{contact._id}}')
  div.columns.small-10.medium-5 {{contact.name}}
  div.columns.hide-for-small.medium-5 {{contact.companies[0].name}} &nbsp;
  div.column.small-2.medium-2
   img.list-profile-img(ng-if="contact.photo", ng-src="{{contact.photo}}")

div.row
 div.column.small-12
  hr
  p.meta-data #{package} Version: #{version}. See full source code on 
   a.fi-social-github(href="https://github.com/andriesfilmer/pim")  Github. 
   | The code has a 
   a(href="http://opensource.org/licenses/MIT") MIT License.
