div.row
 div.columns.small-3
  h1.home PIM
 div.columns.small-9.text-right
  button.small.fi-unlock(ui-sref="signin", ng-if="!isAuthenticated", title="Sign in")  Sign in
  button.small.secondary.fi-torso(ui-sref="signup", ng-if="!isAuthenticated", title="Sign up")   Sign up
  button.small.fi-lock(ui-sref="user.logout", ng-if="isAuthenticated")  Logout
div.row
 div.column.small-12
  h2.strong Personal Information Manager 
div.row
 div.column.small-12
  ul(style="list-style-type: none;")
   li.fi-calendar
    a(ui-sref="calendar.month")  Calendar
   li.fi-address-book
    a(ui-sref="contact.starred")  Concacts
   li.fi-page
    a(ui-sref="post")  Posts
   li.fi-bookmark
    a(ui-sref="bookmark")  Bookmarks
div.row
 div.column.small-12
  h2.fi-lock  Access to your data
  p Keep your personal information private. Access your data wherever you are, whenever you need it, all under your control. 
   |Undependent of Google, Facebook or other installed app/provider who can peek into your data.
  p This 'Web App' has a responsive design so you can use it on your mobile, tablet or desktop. 
div.row
 div.column.small-12
  h2.fi-calendar  Calendar
  p You can create events with the flag: <code>appointment</code> or <code>memo</code>. 
   | You can search events and swipe the calendar (left/right). 
   | Get reminders every 24hours before (via e-mail).
   | The calendar has month, week and day view. 
  h2.fi-address-book  Contacts
  p Create contacts and add unlimited phonenumbers, companies, relations, e-mailaddresses, websites, addresses.  
   | Add birthdate and get a reminder 2 days before by e-mail. Upload profile photos.
   | Download contacts to vCard 3.0.
  h2.fi-page  Posts
  P  Create a post with the flag: <code>todo</code>, <code>note</code>, <code>blog</code> or <code>knowledge base</code>. 
   | Make a small note or a big article with Markdown. Auto-generate a table of contents (TOC) on a large articles. 
   | Flag your posts 'public' because there is also a API avialable so you can publish you 'posts' on a different public site.
  h2.fi-bookmark  Bookmarks
  P You can create a bookmarks with the flag: <code>media</code>, <code>fun</code>, <code>knowledge base</code>, <code>other</code>. 
   |You can flag your bookmarks 'public' because there is also a API avialable so you can publish you 'bookmarks' on a different public site.
div.row
 div.column.small-12
  h2.fi-star  Features
  ul
   li All data is (read only) available offline.
   li 
    a(href="http://daringfireball.net/projects/markdown/") Markdown is integrated. 
div.row
 div.column.small-12
  hr
  p #{package} Version: #{version}. See full source code on 
   a.fi-social-github(href="https://github.com/andriesfilmer/pim")  Github. 
   | The code has a 
   a(href="http://opensource.org/licenses/MIT") MIT License.
