div.row
 div.colums.small-12.secondary-menu
  button.fi-unlock(ui-sref="signin", ng-if="!isAuthenticated", title="Sign in")  Sign in
  button.secondary.fi-torso(ui-sref="signup", ng-if="!isAuthenticated", title="Sign up")   Sign up
  button.small.fi-lock(ui-sref="user.logout", ng-if="isAuthenticated")  Logout
div.row
 div.column.small-12
  p.strong Personal information manager (PIM).
div.row
 div.column.small-12
  fieldset.radius
    legend Main features
    ul(style="list-style-type: none;")
     li.fi-calendar
      a(ui-sref="calendar")  Calendar
     li.fi-address-book
      a(ui-sref="contact")  Concacts
     li.fi-page
      a(ui-sref="post")  Posts
     li.fi-bookmark
      a(ui-sref="bookmark")  Bookmarks
div.row
 div.column.small-12
  h2.fi-lock  Access to your data
  p Keep your personal information private. Access your data wherever you are, whenever you need it, all under your control. 
   |Undependent of Google, Facebook or other installed app/provider who can peek into your data.
  p PIM has a responsive design so you can use it on your mobile, tablet or desktop. 
   |All data is (read only) available offline.
div.row
 div.column.small-12
  h2.fi-page  Posts
  P You can create a post with the flag: <code>todo, note, blog or knowlodge base</code>. 
   |You can make a small note or a big article. Auto-generate a table of contents (TOC) on a large article. 
   a(href="http://daringfireball.net/projects/markdown/") Markdown is integrated. 
   |You can flag your posts 'public' because there is also a API avialable so you can publish you 'posts' on a different public site.
  h2.fi-calendar  Calendar
  p You can create events with the flag: <code>appiontment or memo</code>. 
   | You can search events and swipe the calendar (left/right). 
   a(href="http://daringfireball.net/projects/markdown/") Markdown is integrated. 
   | Get reminders every 24hours before (via E-mail).
   | The calendar is based on 
   a(href="http://fullcalendar.io/") Adam Shaw - fullcalendar.
  h2.fi-address-book  Contacts
  p Working on contacts...
   | Saving an searching your contacts.
  h2.fi-bookmark  Bookmarks
  p Working on bookmarks....
   |Saving and searching your bookmarks.
div.row
 div.column.small-12
  hr
  p #{package} Version: #{version}. See full source code on 
   a.fi-social-github(href="https://github.com/andriesfilmer/pim")  Github. 
   | The code has a 
   a(href="http://opensource.org/licenses/MIT") MIT License.
