div.row
 div.columns.small-3
  h1.home PIM
 div.columns.small-9.text-right
  button.topBt.tiny.radius.fi-lock(ui-sref="user.logout", ng-show="showBts")  Logout
 div.column.small-12
  span.meta-data  {{today | date: 'EEEE d MMMM  HH:mm'}}
div.row
 div.column.small-12.home
  i.fi-calendar
  span  This week events
div.row.my-row(ng-repeat='event in events', ng-class="event.className", ng-class-odd="'odd'" ng-class-even="'even'")
 a(href='#/calendar/event/{{event._id}}')
  div.columns.small-12.medium-6 {{event.title}}
  div.column.small-6.medium-3
   div.round.secondary.label {{event.start | date: 'EEEE d MMMM'}} 
  div.column.small-6.medium-3
   div.round.secondary.label(ng-show='event.allDay==="true"') all day
   div.round.label(ng-hide='event.allDay==="true"') {{event.start | date: 'HH:mm'}} 
   div.round.label(ng-hide='event.allDay==="true"') {{event.end | date: 'HH:mm'}} 
div.row
 div.columns.meta-data(ng-if="!events") No events yet
 div.columns.meta-data(ng-if="offline") Goto calender view 

div.row
 div.column.small-12.home
  i.fi-torsos 
  span  Last viewed contacts

div.row.my-row(ng-repeat='contact in contacts', ng-class-odd="'odd'" ng-class-even="'even'")
 a(href='#/contact/{{contact._id}}')
  div.columns.small-10.medium-5 {{contact.name}}
  div.columns.hide-for-small.medium-5 {{contact.companies[0].name}} &nbsp;
  div.column.small-2.medium-2.text-center
   img.list-profile-img(ng-if="contact.photo", ng-src="{{contact.photo}}")

div.row
 div.column.small-12
  p.meta-data #{package} Version: #{version}. See full source code on 
   a.fi-social-github(href="https://github.com/andriesfilmer/pim")  Github. 
   | The code has a 
   a(href="http://opensource.org/licenses/MIT") MIT License.
