div.row
 div.columns.small-12
  h1.home PIM
 div.column.small-12
  span.secondary-data  {{today | date: 'EEEE d MMMM  HH:mm'}}
div.row
 div.column.small-12.home
  i.fi-calendar
  span  Upcomming events
div.row.my-row(ng-repeat='event in events', ng-class="event.className", ng-class-odd="'odd'" ng-class-even="'even'")
 a(ui-sref='calendar.event({id: event._id})')
  div.columns.small-12.medium-6 {{event.title}}
  div.column.small-8.medium-4.secondary-data {{event.start | date: 'EEEE d MMMM'}} 
  div.column.small-4.medium-2.text-center
   div.secondary.label(ng-show='event.allDay==="true"') all day
   div.label(ng-hide='event.allDay==="true"') {{event.start | date: 'HH:mm'}} 
div.row
 div.columns.secondary-data(ng-if="!events") No events yet
 div.columns.secondary-data(ng-if="offline") Goto calender view 

div.row
 div.column.small-12.home
  i.fi-torsos 
  span  Last viewed contacts

div.row.my-row(ng-repeat='contact in contacts', ng-class-odd="'odd'" ng-class-even="'even'")
 a(ui-sref='contact.view({id: contact._id})')
  div.columns.small-10.medium-6 {{contact.name}}
  div.columns.hide-for-small-only.medium-4.secondary-data {{contact.companies[0].name}} &nbsp;
  div.column.small-2.medium-2.text-center
   img.list-profile-img(ng-if="contact.photo", ng-src="{{contact.photo}}")

div.row
 div.column.small-12
  p.meta-data #{package} Version: #{version}. See full source code on 
   a.fi-social-github(href="https://github.com/andriesfilmer/pim", target='_blank')  Github. 
   | The code has a 
   a(href="http://opensource.org/licenses/MIT", target='_blank') MIT License.
