div.row
 div.col-md-12.secondary-menu
  a.glyphicon.glyphicon-plus(href='#/kb/create')
div.row(ng-repeat='post in posts')
 div.col-md-6
  a(href='#/kb/{{post._id}}') {{post.title}}
 div.col-md-2.hidden-xs.hidden-sm {{post.created | date:'short'}}
 div.col-md-2.hidden-xs.hidden-sm {{post.updated | date:'short'}}
 div.col-md-2
  button.btn.btn-warning.btn-xs(ng-show='post.is_published', ng-click='updatePublishState(post, false)')
   span public
  button.btn.btn-success.btn-xs(ng-show='!post.is_published', ng-click='updatePublishState(post, true)')
   span private
