div.row
 div.col-md-12.secondary-menu
  a.glyphicon-save.glyphicon(ng-show="saveForm", ng-click='save(post, false)')
  span.divider
  a.glyphicon-trash.glyphicon(ng-click='deletePost(post)')
  span.divider
  a.glyphicon-pencil.glyphicon(ng-show="editForm", ng-click='toggleForm()')
  a.glyphicon-eye-open.glyphicon(ng-hide="editForm", ng-click='toggleForm()')
  span.divider
  a.glyphicon.glyphicon-plus(href='#/kb/create')
div.row(ng-show="editForm")
 div.col-md-12
  h2.post-title {{post.title}} 
  .post-content
    p(btf-markdown='post.content') 
  .post-meta
   i.glyphicon.glyphicon-star
    |  {{post.created | date:'medium'}}
  .post-meta
    ul.list-inline.glyphicon.glyphicon-tag
     li(ng-repeat='tag in post.tags')
      a.label.label-success(href='#/tag/{{tag}}'){{tag}}
   div#is_published.post-meta published is: {{post.is_published}}
div.row(ng-hide="editForm")
 div.col-md-12
  form
   input#inputTitle.form-control(type="text", placeholder="Title", value="{{post.title}}", ng-model="post.title", ng-change="change()")
   textarea#textareaContent.form-control(rows="19", ng-model="post.content", ng-change="change()")
   input#inputTags.form-control(type="text", placeholder="Tags #1, Tags #2, ...", my-tags='', ng-model="post.tags", ng-change="change()")
   input.form-control(type="checkbox", ng-model="post.is_published", ng-change="change()")
   span test
