div.row
 div.column.small-6.text-left.secondary-menu
  a.fi-page-edit(ng-hide="editForm", ng-click='toggleForm()', title='Edit item')
  a.fi-eye(ng-show="editForm", ng-click='toggleForm()', title='View item')
  span.divider
  a.fi-wrench(href="",data-reveal-id="post-settings", data-reveal-ajax="true") 
  span.divider
  a.fi-save(ng-show="saveForm", ng-click='save(post)', title='Save item')
 div.column.small-6.text-right.secondary-menu
  span.divider
  a.fi-plus(href='#/post/create',title='New item')

div.row(ng-hide="editForm")
 div.column.small-12
  h1(ng-class='post.type') {{post.title}} 
  fieldset.post-toc(ng-show="showToc")
   legend Content
   div(markdown='toc') 
  p(markdown='post.content') 

div.row(ng-show="editForm")
 div.column.small-12
  form
   input#title-input(type="text", placeholder="Title", value="{{post.title}}", ng-model="post.title", ng-change="change()")
   textarea#textarea-content(rows="19", ng-model="post.content", ng-change="change()")
   input#inputTags(type="text", placeholder="Tags #1, Tags #2, ...", my-tags='', ng-model="post.tags", ng-change="change()")
div.row
 div.column.small-6.post-meta.panel
  i Created:  {{post.created | date: 'yyyy-MM-dd HH:mm'}}
 div.column.small-6.post-meta.panel
  i Updated:  {{post.updated | date: 'yyyy-MM-dd HH:mm'}}
 div.column.small-12.post-meta
   ul.inline-list
    li.tag(ng-repeat='tag in post.tags')
     a.label.radius.success(href='#/tag/{{tag}}') {{tag}}

div.row
 div#post-settings.reveal-modal(data-reveal='')
  a.close-reveal-modal &#215;
  fieldset
   div.row
    div.column.small-6.my-row.todo Todo
    div.switch.round.column.small-6.post-todo
     input#post-todo.todo(type="radio", value="todo", name="postType", ng-model="post.type", ng-change="change()")
     label(for="post-todo")
   div.row
    div.column.small-6.my-row.note Note
    div.switch.round.column.small-6.post-note
     input#post-note(type="radio", value="note", name="postType", ng-model="post.type", ng-change="change()")
     label(for="post-note")
   div.row
    div.column.small-6.my-row.blog Blog
    div.switch.round.column.small-6.post-blog
     input#post-blog(type="radio", value="blog", name="postType", ng-model="post.type", ng-change="change()")
     label(for="post-blog") 
   div.row
    div.column.small-6.my-row.kb Knowlege base
    div.switch.round.column.small-6.post-kb
     input#post-kb(type="radio", value="kb", name="postType", ng-model="post.type", ng-change="change()")
     label(for="post-kb") 
  fieldset
   div.row
    div.column.small-12 &nbsp;
   div.row
    div.column.small-6 Public switch
    div.switch.round.column.small-6.post-public
     input#public(type="checkbox", ng-model="post.public", ng-change="change()")
     label(for="public")
  fieldset
   div.row
    div.column.small-12 &nbsp;
   div.row
    div.column.small-5
     button.radius(ng-click='save(post)', title='Save item') Save
    div.column.small-7
     button.radius.alert(ng-click='deletePost(post)', title='Delete item') Delete

