div.row(ng-hide="offline")
 div.column.small-12.secondary-menu
  i.fi-page.reversed(title='Posts')
  span.divider
  a.fi-magnifying-glass(ng-click='toggleSearch()', title='Search', tabindex="1")
  span.float-right
   span.divider
   a.fi-plus(ui-sref='post.create',title='New item')

div.row.flip-in(ng-show="searchForm")
 form#search
  div.columns.small-10
   input(focus-me="searchForm", type="text", placeholder="Post search ...", ng-model="searchKey")
  div.columns.small-2
   button.tiny.reset-button(type="reset", ng-click="resetSearch()") &#215;

div.row.my-row(ng-repeat='post in posts', ng-class="post.type", ng-class-odd="'odd'" ng-class-even="'even'")
 a(ui-sref="post.view({id: post._id})")
   div.columns.medium-10 {{post.title}}
  div.column.medium-2.hide-for-small-only
   div.secondary.label {{post.created | date: 'yyyy-MM-dd'}}
div.columns.meta-data(ng-if="!posts") No posts, todos, notes or articles yet

