div.row
 div.colums.small-12.secondary-menu
  a.fi-magnifying-glass(ng-click='toggleSearch()', title='Search', tabindex="1")
  span.divider
  a.fi-plus(href='#/post/create',title='New item')

div.row.flip-in(ng-show="searchForm")
 div.columns.small-12
  form
   input.search-box(name="focus", type="text", placeholder="Enter search words...", ng-model="searchKey", tabindex="2", required="" )
   button.close-icon(type="reset")
div.row.toggle(ng-repeat='post in posts', ng-class="post.type ? post.type : 'my-row'")
 a(href='#/post/{{post._id}}')
  div.columns.medium-8 {{post.title}}
 div.column.medium-2.hide-for-small
  div.round.secondary.label {{post.updated | date: 'yyyy-MM-dd'}}
 div.column.medium-2.hide-for-small
  div.round.alert.label(ng-show='post.public', ng-click='updatePublicState(post, false)') public
  div.round.secondary.label(ng-show='!post.public', ng-click='updatePublicState(post, true)') private
