div.row(ng-hide="offline")
 span(ng-hide="searchForm")
  div.column.small-8.text-left.secondary-menu
   i.fi-page.reversed(title='Posts')
   span.divider
   a.fi-magnifying-glass(ng-click='toggleSearch()', title='Search', tabindex="1")
   span.divider
   a.fi-widget(title="Settings", data-reveal-id="post-settings", data-reveal-ajax="true") 
  div.column.small-4.text-right.secondary-menu
   span.divider
   a.fi-plus(href='#/post/create',title='New item')

div.row.flip-in(ng-show="searchForm")
 form#search
  div.columns.small-10
   input#search-input.radius.search-box(focus-me="searchForm", type="text", placeholder="Enter search ...", ng-model="searchKey")
  div.columns.small-2
   button.tiny.reset-button(type="reset", ng-click="resetSearch()") &#215;

div.row.my-row(ng-repeat='post in posts', ng-class="post.type", ng-class-odd="'odd'" ng-class-even="'even'")
 a(href='#/post/{{post._id}}')
   div.columns.medium-10 {{post.title}}
  div.column.medium-2.hide-for-small
   div.round.secondary.label {{post.created | date: 'yyyy-MM-dd'}}

div.row
 div#post-settings.reveal-modal(data-reveal='')
  a.close-reveal-modal &#215;
  h2 General post settings
  fieldset
   div.row
    div.column.small-6.my-row List 20 posts
    div.switch.round.column.small-6
     input#post-20(type="radio", value="20", name="postLimit", ng-model="postLimit", ng-change="changeLimit(20)")
     label(for="post-20")
   div.row
    div.column.small-6.my-row List 50 posts
    div.switch.round.column.small-6
     input#post-50(type="radio", value="50", name="postLimit", ng-model="postLimit", ng-change="changeLimit(50)")
     label(for="post-50") 
   div.row
    div.column.small-6.my-row List 100 posts
    div.switch.round.column.small-6
     input#post-100(type="radio", value="100", name="postLimit", ng-model="postLimit", ng-change="changeLimit(100)")
     label(for="post-100") 
   div.row
    div.column.small-6.my-row List 1000 posts
    div.switch.round.column.small-6
     input#post-1000(type="radio", value="1000", name="postLimit", ng-model="postLimit", ng-change="changeLimit(1000)")
     label(for="post-1000")
   div.row
    div.small-12
     span.date-meta 
      i  * Settings only for this device.
