form(name="postForm")
 div.row(ng-hide="offline")
  div.column.small-12.secondary-menu
   i.fi-page.reversed(title='Posts')
   span.divider
   a.fi-pencil(ng-hide="editForm", ng-click='toggleForm()', title='Edit item')
   a.fi-eye(ng-show="editForm", ng-click='toggleForm()', title='View item')
   span.divider
   a.fi-share(title="Share", data-reveal-id="share", data-reveal-ajax="true") 
   span.divider
   a.fi-widget(data-reveal-id="post-settings", data-reveal-ajax="true") 
   span.divider
   a.fi-upload(ng-hide="postForm.title.$error.required", ng-class="{true: 'alert', false: ''}[saveForm]", ng-click='save(post)', title='Save item')
   span.right(ng-hide="showDeleteBt")
    span.divider
    a.fi-trash(ng-click='deletePost(post)', title='Delete item', confirmation-needed="Really Delete?")
 
 div.row(ng-hide="editForm")
  div.column.small-12
  h1(ng-class='post.type') {{post.title}} 
  fieldset.post-toc(ng-show="toc")
   legend Content
   div(markdown='toc') {{toc}} 
  div.column.small-12
   p#markdown(markdown='post.content') 

 div.row(ng-show="editForm")
  div.column.small-12(ng-class="post.type")
   input#title(type="text", required='', name="title", placeholder="Title is required", ng-model="post.title", ng-change="isChanged()")
 div.row(ng-show="editForm")
  div.column.small-12
   textarea#content(rows="19", ng-model="post.content", ng-change="isChanged()", placeholder="You can use Markdown ...")
   input(type="text", placeholder="Tag #1, Tag #2, ...", my-tags='', ng-model="post.tags", ng-change="isChanged()")
 div.row
  div.column.small-12.post-meta
    ul.inline-list
     li.tag(ng-repeat='tag in post.tags')
      a.label.radius.success {{tag}}
 div.row(ng-if="post")
  div.column.small-6.meta-data
   i Created:  {{post.created | date: 'yyyy-MM-dd'}}
  div.column.small-6.meta-data
   i Updated:  {{post.updated | date: 'yyyy-MM-dd'}}

div.row
 div#post-settings.reveal-modal(data-reveal='')
  a.close-reveal-modal &#215;
  fieldset
   legend Type
   div.row
    div.column.small-6.my-row.todo Todo
    div.switch.round.column.small-6.post-todo
     input#post-todo.todo(type="radio", value="todo", name="postType", ng-model="post.type", ng-change="isChanged()")
     label(for="post-todo")
   div.row
    div.column.small-6.my-row.note Note
    div.switch.round.column.small-6.post-note
     input#post-note(type="radio", value="note", name="postType", ng-model="post.type", ng-change="isChanged()")
     label(for="post-note")
   div.row
    div.column.small-6.my-row.blog Blog
    div.switch.round.column.small-6.post-blog
     input#post-blog(type="radio", value="blog", name="postType", ng-model="post.type", ng-change="isChanged()")
     label(for="post-blog") 
   div.row
    div.column.small-6.my-row.kb Knowlege base
    div.switch.round.column.small-6.post-kb
     input#post-kb(type="radio", value="kb", name="postType", ng-model="post.type", ng-change="isChanged()")
     label(for="post-kb") 

  fieldset(ng-if="versions")
   legend Versions
   div.row.my-row(ng-repeat='version in versions', ng-class="version.type", ng-class-odd="'odd'" ng-class-even="'even'")
    a(ui-sref='post.version({id: version._id})')
     div.columns.medium-9 {{version.title}}
     div.column.medium-3 {{version.created | date: 'yyyy-MM-dd HH:mm'}}

div.row
  div#share.reveal-modal(data-reveal='')
   a.close-reveal-modal &#215;
   div.row
    div.small-12.columns
     fieldset
      legend.fi-share  Share with
      include ./includes/share.jade
     fieldset
      legend.fi-page-pdf  Download
      div.row
       div.small-12.columns
        a(ng-click='downloadPdf(post)', title='Download contacts', target='_blank')
         img#downloadPdf.share.grayscale(src='/static/images/icon-pdf-128.png')
         span.share  PDF {{ downloadLabel }}

