div.row
 div.column.small-12
  fieldset.radius
    legend Goto
    ul(style="list-style-type: none;")
     li.fi-calendar
      a(ui-sref="calendar")  Calendar
     li.fi-torsos
      a(ui-sref="contact")  Concacts
     li.fi-page-copy
      a(ui-sref="post")  Posts
     li.fi-bookmark
      a(ui-sref="bookmark")  Bookmarks
