div.row
  div.columns.small-12
   h2 Login page
  div.columns.small-12
   input(type="text", placeholder="E-mail address", ng-model="user.email", tabindex="1")
  div.columns.small-12
   input(type="password", placeholder="Password", ng-model="user.password", tabindex="2")
  div.columns.small-12.medium-2
   button.radius(type="submit", ng-click="signIn(user.email, user.password)", tabindex="3") Sign In
  div.columns.small-12.medium-6
   p
    a(ui-sref="user.reset-password") Forgot password?
  div.columns.small-12.medium-4
   button.radius.secondary.radius(type="submit", ui-sref="signup") Sign Up
