div.row
 div.columns.small-12.medium-8
  h1.home PIM.center
 div.columns.small-12.medium-4.text-center
  button.button.fi-unlock(ui-sref="signin", ng-hide="showBts", title="Sign in")  Sign in
  button.button.fi-torso.secondary(ui-sref="signup", ng-hide="showBts", title="Sign up")  Sign up
div.row
 div.columns &nbsp;
div.row
 div.column.small-12
  h2.strong Personal Information Manager 
div.row
 div.column.small-12
  ul.start
   li.fi-calendar
    a(ui-sref="calendar.month") &nbsp; Calendar
   li.fi-torsos
    a(ui-sref="contact.list")  Concacts
   li.fi-page
    a(ui-sref="post.list")  &nbsp;Posts
   li.fi-bookmark
    a(ui-sref="bookmark.list")  &nbsp;Bookmarks
div.row
 div.column.small-12
  h2.fi-lock  Access to your data
  p Keep your personal information private. Access your data wherever you are, whenever you need it, all under your control. 
div.row
 div.column.small-12.medium-6
  h2.fi-like  Pros
  p Independent of Google, Facebook or other installed app/provider who can peek into your data.
   | Data is not linked to native addressbook or calendar.
  P Share items with Whatsapp, Telegram, SMS, Email, Facebook, Twitter, LinkedIn 
   | via a sharelink so these providers can't access your personal data.
 div.column.small-12.medium-6
  h2.fi-dislike  Cons
  p This web-app is not installed and therefore not link to incomming calls on your smartphone.
  p Solution: You can export the contacts to vCard 
   i.meta-data.sup (option for only phonenumbers and photo) 
   | and import your contacts in your smartphone if you want to see who is calling.
div.row
 div.column.small-12
  h2.fi-star  General features
  ul 
   li This 'Web App' has a responsive design so you can use it on your mobile, tablet or desktop.
   li Interactive searches.
   li All data is (read only) available offline.
   li 
    a(href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", target='_blank') Markdown is integrated 
    | so you can style your text easily.
   li The code has 
    a(href="http://opensource.org/licenses/MIT", target='_blank') MIT License
    |, see full source code on 
    a.fi-social-github(href="https://github.com/andriesfilmer/pim", target='_blank')  Github.
div.row
 div.column.small-12
  h2.fi-calendar  Calendar
  ul
   li You can create events with the flag: <code>appointment</code> or <code>memo</code>. 
   li The calendar has month, day and list view. 
   li Search events and swipe the calendar (left/right). 
   li Calendar is timezone aware.
   li Get reminders by e-mail.
  h2.fi-torsos  Contacts
  ul
   li Create contacts and add unlimited phonenumbers, companies, relations, e-mailaddresses, websites, addresses.  
   li There is a starred, birthdates and list view.
   li Add birthdate and get a reminder by e-mail.
   li Add profile photos (crop and scale before upload)
   li Import and export contacts (vCard).
   li Export or share individual contacts
  h2.fi-page  Posts
  ul
   li Make a small note or a big article with Markdown. 
   li Auto-generate a table of contents (TOC) on a large articles. 
   li Revisions, i.o. each post can be restored in 
       i.fi-widget  versions. 
   li Create a pdf for sharing large posts/articles.
  h2.fi-bookmark  Bookmarks
  ul
   li Save your favorite bookmarks and make additional notes
div.row
 div.column.small-12.medium-12
  h2.fi-plus  Install this web app
  p If you want a icon on your tablet or smartphone homescreen like a real App.
 div.column.small-12.medium-6
  p For iPhone Safari: Tap 
   img(src='/static/images/add-to-homescreen-iphone-icon.png') 
   |  and then 
   strong  
    nobr Add to Home screen
  img(src='/static/images/add-to-homescreen-iphone.png')
 div.column.small-12.medium-6
  p For Android Chrome: Tap 
   img(src='/static/images/add-to-homescreen-android-chrome-icon.png')
   |  and then
   strong  
    nobr Add to Home screen
  img(src='/static/images/add-to-homescreen-android-chrome.png')

div.row
 div.column.small-12
  hr
  p #{package} Version: #{version}. See full source code on 
   a.fi-social-github(href="https://github.com/andriesfilmer/pim", target='_blank')  Github. 
   | The code has a 
   a(href="http://opensource.org/licenses/MIT", target='_blank') MIT License.
