//- This partial is only linked via API Service '/user/change-password?token'
div.row
 div.columns.small-12
  h2 Change your password
div.row
 form
  div.columns.small-12.panel.radius
   div.columns.small-12
    input(type="password", placeholder="Password", ng-model="user.password", tabindex="1")
   div.columns.small-12
    input(type="password", placeholder="Password confirmation", ng-model="user.passwordConfirm", tabindex="2")
   div.columns.small-12
    button.radius(type="submit", ng-click="changePassword(user.password, user.passwordConfirm, token)", tabindex="3") Change
