div.row(ng-hide="tokenSend")
 div.columns.small-12.panel.radius
  div.columns.small-12
   p You can reset you password by sending a reset-token to your account e-mailaddress.
  div.columns.small-12
   input(type="text", placeholder="E-mail address", ng-model="email", tabindex="1")
  div.columns.small-12
   button.radius(type="submit", ng-click="sendPasswordChangeToken(email)", tabindex="2") Send reset

div.row(ng-show="tokenSend")
 div.columns.small-12.panel.radius
  p A password reset link has been sent to "{{email}}". Check your mailbox.
  p If you don't see a reset request after a few minutes, please check your spambox.
