div.row
 div.column.small-12
  blockquote Settings are only for this device
div.row
 div.column.small-12
  h2 Contact settings
  div.row
   div.column.small-12.medium-6
    fieldset
     legend Limit contacts per request
     div.row
      div.column.small-6 List 100
       span.meta-data  fast
      div.switch.column.small-6
       input#contact-100.switch-input(type="radio", value="100", name="contactLimit", ng-model="contactLimit", ng-change="changeContactLimit(100)")
       label.switch-paddle(for="contact-100") 
     div.row
      div.column.small-6 List 300
      div.switch.column.small-6
       input#contact-300.switch-input(type="radio", value="300", name="contactLimit", ng-model="contactLimit", ng-change="changeContactLimit(300)")
       label.switch-paddle(for="contact-300")
     div.row
      div.column.small-6 List 1000
       span.meta-data  slow
      div.switch.column.small-6
       input#contact-1000.switch-input(type="radio", value="1000", name="contactLimit", ng-model="contactLimit", ng-change="changeContactLimit(1000)")
       label.switch-paddle(for="contact-1000")

   div.column.small-12.medium-6
    fieldset
     legend Order contacts
     div.row
      div.column.small-6 By Fullname
      div.switch.column.small-6
       input#contact-order-name.switch-input(type="radio", value="name", name="contactOrder", ng-model="contactOrder", ng-change="changeContactOrder('name')")
       label.switch-paddle(for="contact-order-name")
     div.row
      div.column.small-6 By last-read
      div.switch.column.small-6
       input#contact-order-last-read.switch-input(type="radio", value="last_read", name="contactOrder", ng-model="contactOrder", ng-change="changeContactOrder('last_read')")
       label.switch-paddle(for="contact-order-last-read")

div.row
 div.column.small-12.medium-12.large-6
  h2 Post settings
  fieldset
   legend Limit posts per request
   div.row
    div.column.small-6 List 20
     span.meta-data  fast
    div.switch.column.small-6
     input#post-20.switch-input(type="radio", value="20", name="postLimit", ng-model="postLimit", ng-change="changePostLimit(20)")
     label.switch-paddle(for="post-20")
   div.row
    div.column.small-6 List 50
    div.switch.column.small-6
     input#post-50.switch-input(type="radio", value="50", name="postLimit", ng-model="postLimit", ng-change="changePostLimit(50)")
     label.switch-paddle(for="post-50") 
   div.row
    div.column.small-6 List 100
    div.switch.column.small-6
     input#post-100.switch-input(type="radio", value="100", name="postLimit", ng-model="postLimit", ng-change="changePostLimit(100)")
     label.switch-paddle(for="post-100") 
   div.row
    div.column.small-6 List 1000
     span.meta-data  slow
    div.switch.column.small-6
     input#post-1000.switch-input(type="radio", value="1000", name="postLimit", ng-model="postLimit", ng-change="changePostLimit(1000)")
     label.switch-paddle(for="post-1000")

 div.column.small-12.medium-12.large-6
  h2 Bookmark settings
  fieldset
   legend Limit bookmarks per request
   div.row
    div.column.small-6 List 20
     span.meta-data  fast
    div.switch.column.small-6
     input#bookmark-20.switch-input(type="radio", value="20", name="bookmarkLimit", ng-model="bookmarkLimit", ng-change="changeBookmarkLimit(20)")
     label.switch-paddle(for="bookmark-20") 
   div.row
    div.column.small-6 List 50
     span.meta-data
    div.switch.column.small-6
     input#bookmark-50.switch-input(type="radio", value="50", name="bookmarkLimit", ng-model="bookmarkLimit", ng-change="changeBookmarkLimit(50)")
     label.switch-paddle(for="bookmark-50")
   div.row
    div.column.small-6 List 250
    div.switch.column.small-6
     input#bookmark-250.switch-input(type="radio", value="200", name="bookmarkLimit", ng-model="bookmarkLimit", ng-change="changeBookmarkLimit(250)")
     label.switch-paddle(for="bookmark-250")
   div.row
    div.column.small-6 List 1000
     span.meta-data  slow
    div.switch.column.small-6
     input#bookmark-1000.switch-input(type="radio", value="1000", name="bookmarkLimit", ng-model="bookmarkLimit", ng-change="changeBookmarkLimit(1000)")
     label.switch-paddle(for="bookmark-1000")
