div.row(ng-hide="tokenSend")
 div.columns.small-12.callout.primary
  div.columns.small-12
   p You can reset you password by sending a reset-token to your account e-mailaddress.
  div.columns.small-12
   input(type="email", placeholder="E-mail address", ng-model="email", tabindex="1")
  div.columns.small-12
   button.button(type="button", ng-click="sendPasswordChangeToken(email)", tabindex="2") Send reset

div.row(ng-show="tokenSend")
 div.columns.small-12
  p A password reset link has been sent to "{{email}}". Check your mailbox.
  i.fi-lightbulb  If you don't see a reset request after a few minutes, please check your spambox.
