div.row
 div.colums.small-12.secondary-menu
  a.fi-lock(href='#/user/logout',title='logout')
div.row
 div.column.small-12
  h1 User page
  ul
   li
    a(ui-sref="user.signin") Signin
   li
    a(ui-sref="user.signup") Signup (register as new user)
   li
    a(ui-sref="user.logout") Logout
div.row
 div.column.small-12.toggle(ui-view="")
