div.row(ng-hide="tokenSend")
 div.columns.small-12
  p You can reset you password by sending a reset-token to your e-mailaddress.
 div.columns.small-12
  input(type="text", placeholder="E-mail address", ng-model="email", tabindex="1")
 div.columns.small-12
  button.radius(type="submit", ng-click="sendPasswordChangeToken(email)", tabindex="2") Send reset

div.row(ng-show="tokenSend")
 div.columns.small-12
  p We have send a email to "{{email}}". Check your mailbox.
  p If you don't see a reset request after a few minutes, please check your spambox.
