<!DOCTYPE html>
<html lang="en" manifest-off="manifest.appcache">
<head>
  <title><!-- @echo pkgname --></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="My personal information manager.">
  <meta name="author" content="Andries Filmer">

  <meta name="fragment" content="!">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Place favicon.ico and apple-touch-icon(s) -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon-180x180.png">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="icon" type="image/png" href="/static/images/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/images/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-TileImage" content="/static/images/mstile-144x144.png">
  <meta name="msapplication-config" content="/static/images/browserconfig.xml">

  <!-- @if NODE_ENV == 'DEVELOPMENT' -->
  <!-- CSS development <!-- @echo pkgname --> -->
  <link href="vendor/css/normalize.css" rel="stylesheet" />
  <link href="vendor/css/foundation.css" rel="stylesheet" />
  <link href="vendor/css/foundation-icons.css" rel="stylesheet" />
  <link href="vendor/css/fullcalendar.css" rel="stylesheet" />
  <link href="css/<!-- @echo pkgname -->.css" rel="stylesheet" />
  <!-- @endif -->

  <!-- @if NODE_ENV == 'PRODUCTION' -->
  <!-- CSS production <!-- @echo pkgname --> -->
  <link rel="stylesheet" href="/vendor/css/vendor.min.css"/>
  <link rel="stylesheet" href="/css/<!-- @echo pkgname -->.min.css"/>
  <!-- @endif -->

</head>
<body ng-app="app">
<div class="icon-bar five-up">
  <a class="item" ui-sref="home" ui-sref-active="menu-active">
    <i class="fi-home"></i>
  </a>
  <a class="item" ui-sref="calendar.month" ui-sref-opts="{reload: true}" ui-sref-active="menu-active">
    <i class="fi-calendar"></i>
  </a>
  <a class="item" ui-sref="contact" ui-sref-opts="{reload: true}" ui-sref-active="menu-active">
    <i class="fi-torsos"></i>
  </a>
  <a class="item" ui-sref="post" ui-sref-opts="{reload: true}" ui-sref-active="menu-active">
    <i class="fi-page"></i>
  </a>
  <a class="item" ui-sref="bookmark" ui-sref-opts="{reload: true}" ui-sref-active="menu-active">
    <i class="fi-bookmark"></i>
  </a>
</div>

<div class="flip-in">
<flash:messages ></flash:messages>
</div>

<div class="container">

   <div class="" ui-view></div>
</div>


<!-- JS production CDN's -->

<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<!-- JS development <!-- @echo pkgname --> -->
<script src="vendor/js/modernizr.js"></script>
<script src="vendor/js/jquery.min.js"></script>
<script src="vendor/js/angular.min.js"></script>
<script src="vendor/js/angular-ui-router.min.js"></script>
<script src="vendor/js/angular-touch.min.js"></script>
<script src="vendor/js/angular-animate.min.js"></script>
<script src="vendor/js/autofill-event.js"></script>
<script src="vendor/js/moment.min.js"></script>
<script src="vendor/js/calendar.js"></script>
<script src="vendor/js/fullcalendar.min.js"></script>
<script src="vendor/js/foundation.min.js"></script>
<script src="vendor/js/showdown.js"></script>
<script src="vendor/js/showdown-table.js"></script>
<script src="vendor/js/spin.min.js"></script>
<script src="vendor/js/angular-spinner.min.js"></script>
<script src="js/<!-- @echo pkgname -->.js"></script>
<!-- @endif -->


<!-- @if NODE_ENV == 'PRODUCTION' -->
<!-- JS production <!-- @echo pkgname --> -->
<script src="vendor/js/vendor.js"></script>
<script src="js/<!-- @echo pkgname -->.min.js"></script>
<!-- @endif -->

</body>
</html>
