<!DOCTYPE html>
<html lang="en" manifest-off="manifest.appcache">
<head>
  <title><!-- @echo pkgname --></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="My personal information manager.">
  <meta name="author" content="Andries Filmer">

  <meta name="fragment" content="!">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Place favicon.ico and apple-touch-icon(s) -->

  <!-- @if NODE_ENV == 'DEVELOPMENT' -->
  <!-- CSS development <!-- @echo pkgname --> -->
  <link href="vendor/css/normalize.css" rel="stylesheet" />
  <link href="vendor/css/foundation.css" rel="stylesheet" />
  <link href="vendor/css/foundation-icons.css" rel="stylesheet" />
  <link href="css/<!-- @echo pkgname -->.css" rel="stylesheet" />
  <!-- @endif -->

  <!-- @if NODE_ENV == 'PRODUCTION' -->
  <!-- CSS productioni <!-- @echo pkgname --> -->
  <link rel="stylesheet" href="/vendor/css/all.min.css"/>
  <link rel="stylesheet" href="/css/<!-- @echo pkgname -->.min.css"/>
  <!-- @endif -->

</head>
<body ng-app="app">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/home">PIM</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li><a ui-sref="calendar" ui-sref-active="menu-active">Calendar</a></li>
      <li class="divider"></li>
      <li><a ui-sref="post" ui-sref-active="menu-active">Posts</a></li>
      <li class="divider"></li>
      <li><a ui-sref="bookmark" ui-sref-active="menu-active">Bookmarks</a></li>
      <li class="divider"></li>
    </ul>

    <ul class="right">
      <li class="divider"></li>
      <li><a ui-sref="user.signin" ui-sref-active="menu-active">Signin</a></li>
    </ul>
  </section>
</nav>

<div class="container">
   <div class="alert-box alert" ng-show="offline">Offline</div>
   <div class="toggle" ui-view></div>
</div>

<!-- JS production CDN's -->

<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<!-- JS development <!-- @echo pkgname --> -->
<script src="vendor/js/modernizr.js"></script>
<script src="vendor/js/angular.min.js"></script>
<script src="vendor/js/angular-route.min.js"></script>
<script src="vendor/js/angular-ui-router.min.js"></script>
<script src="vendor/js/angular-animate.min.js"></script>
<script src="vendor/js/jquery.min.js"></script>
<script src="vendor/js/foundation.min.js"></script>
<script src="vendor/js/showdown.js"></script>
<script src="vendor/js/showdown-table.js"></script>
<script src="js/<!-- @echo pkgname -->.js"></script>
<!-- @endif -->


<!-- @if NODE_ENV == 'PRODUCTION' -->
<!-- JS production <!-- @echo pkgname --> -->
<script src="vendor/js/all.js"></script>
<script src="js/<!-- @echo pkgname -->.min.js"></script>
<!-- @endif -->

</body>
</html>
