<!DOCTYPE html>
<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<html lang="en">
<!-- @endif -->
<!-- @if NODE_ENV == 'PRODUCTION' -->
<html lang="en" manifest="manifest.appcache">
<!-- @endif -->
<head>
  <title><!-- @echo pkgname --></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description" content="My personal information manager.">
  <meta name="author" content="Andries Filmer">

  <meta name="fragment" content="!">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Place favicon.ico and apple-touch-icon(s) -->
  <link rel="manifest" href="/static/manifest.json">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/static/images/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/images/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/images/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/static/images/favicon-192x192.png" sizes="192x192">
  <meta name="msapplication-TileImage" content="/static/images/mstile-144x144.png">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#000000">

  <!-- @if NODE_ENV == 'DEVELOPMENT' -->
  <!-- CSS development <!-- @echo pkgname --> -->
  <link href="vendor/css/normalize.css" rel="stylesheet" />
  <link href="vendor/css/foundation.css" rel="stylesheet" />
  <link href="vendor/css/foundation-icons.css" rel="stylesheet" />
  <link href="vendor/css/fullcalendar.css" rel="stylesheet" />
  <link href="vendor/css/ngCropper.all.css" rel="stylesheet" />
  <link href="css/<!-- @echo pkgname -->.css" rel="stylesheet" />
  <!-- @endif -->

  <!-- @if NODE_ENV == 'PRODUCTION' -->
  <!-- CSS production <!-- @echo pkgname --> -->
  <link rel="stylesheet" href="/vendor/css/vendor.min.css"/>
  <link rel="stylesheet" href="/css/<!-- @echo pkgname -->.min.css"/>
  <!-- @endif -->

</head>
<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<body ng-app="app" style="background: silver">
<!-- @endif -->
<!-- @if NODE_ENV == 'PRODUCTION' -->
<body ng-app="app">
<!-- @endif -->
<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">
      <ul class="menu vertical">
        <li><a class="fi-arrow-right text-right" data-close="offCanvas">&nbsp;</a></li>
        <li><h2>{{fullname}}</h2></li>
        <li><a data-close="offCanvas" ui-sref="user.logout">Logout</a></li>
        <li><a data-close="offCanvas" ui-sref="user.change-password">Change password</a></li>
        <li><a data-close="offCanvas" ui-sref="user.settings">General settings</a></li>
        <li><a data-close="offCanvas" ui-sref="contact.import-export">Import/export contacts</a></li>
        <li><a data-close="offCanvas" ui-sref="calendar.import-export">Import/export calendar</a></li>
        <li><a data-close="offCanvas" ui-sref="about">About PIM</a></li>
      </ul>
    </div>
    <div class="main-content" data-off-canvas-content>

      <ul class="menu expanded icon-top">
       <li><a ui-sref="home" ui-sref-active="menu-active"><i class="fi-home"></i></a></li>
       <li><a ui-sref="calendar.month" ui-sref-opts="{reload: true}" ui-sref-active="menu-active"><i class="fi-calendar"></i></a></li>
       <li><a ui-sref="contact.list" ui-sref-opts="{reload: true}" ui-sref-active="menu-active"><i class="fi-torsos"></i></a></li>
       <li><a ui-sref="post.list" ui-sref-opts="{reload: true}" ui-sref-active="menu-active"><i class="fi-page"></i></a></li>
       <li><a ui-sref="bookmark.list" ui-sref-opts="{reload: true}" ui-sref-active="menu-active"><i class="fi-bookmark"></i></a></li>
       <li><a data-open="offCanvas"><i class="fi-list"></i></a></li>
      </ul>

      <div class="flip-in">
      <flash:messages ></flash:messages>
      </div>

      <div class="container">
         <div class="" ui-view></div>
      </div>

    </div>
  </div>
</div>

<!-- JS production CDN's -->

<!-- @if NODE_ENV == 'DEVELOPMENT' -->
<!-- JS development <!-- @echo pkgname --> -->
<script src="vendor/js/modernizr.js"></script>
<script src="vendor/js/jquery.min.js"></script>
<script src="vendor/js/angular.min.js"></script>
<script src="vendor/js/angular-ui-router.min.js"></script>
<script src="vendor/js/angular-touch.min.js"></script>
<script src="vendor/js/angular-animate.min.js"></script>
<script src="vendor/js/FileSaver.min.js"></script>
<script src="vendor/js/cropper.min.js"></script>
<script src="vendor/js/ngCropper.min.js"></script>
<script src="vendor/js/autofill-event.min.js"></script>
<script src="vendor/js/moment.min.js"></script>
<script src="vendor/js//moment-timezone-with-data.min.js"></script>
<script src="vendor/js/calendar-ui.min.js"></script>
<script src="vendor/js/fullcalendar.min.js"></script>
<script src="vendor/js/foundation.min.js"></script>
<script src="vendor/js/showdown.min.js"></script>
<script src="vendor/js/showdown-target-blank.min.js"></script>
<script src="js/<!-- @echo pkgname -->.js"></script>
<!-- @endif -->


<!-- @if NODE_ENV == 'PRODUCTION' -->
<!-- JS production <!-- @echo pkgname --> -->
<script src="vendor/js/vendor.js"></script>
<script src="js/<!-- @echo pkgname -->.min.js"></script>
<!-- @endif -->

</body>
</html>
