
<div class="row">
  <div class="columns"><label class="label-th"></label></div>
  <div class="columns small-6 medium-6 meta-data">Created: <%= l resource.created_at, format: :default %></div>
  <div class="columns small-6 medium-6 meta-data">Updated: <%= l resource.updated_at, format: :default %></div>
</div>
