<div data-controller="passkey">
  <div class="row">
    <div class="columns" id="add-back-arrow">
      <h2 class="icon icon-arrow-back md cursor-pointer">Versions</h2>
    </div>
  </div>

  <div class="row bg-color-300 p-2 hide-for-small-only">
    <div class="medium-8 columns">Created</div>
    <div class="medium-4 columns text-right">Select version</div>
  </div>
  <% @passkey_versions.each do |passkey_version| %>
  <div id="versions" class="row odd-even">
    <div class="small-8 medium-8 columns">
      <%= link_to (l passkey_version.created_at, format: :long), passkey_version_path(passkey_version) %>
    </div>
    <div class="small-4 medium-4 columns text-right">
      <img src="assets/difference.svg" class="icon large">
      <%= check_box_tag "version_ids[]", passkey_version.id, false, id: passkey_version.id,
        data: { action: "click->passkey#versions" }, class: "checkBoxClass" %>
      <%= content_tag :span, passkey_version.id %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="medium-10 columns"></div>
    <div class="medium-2 columns text-right">
      &nbsp;

      <%= button_to "Compare versions", passkey_versions_compare_path, id: "compare_btn", class: "button disabled", disabled: true,
        params: { ids: "" }, data: { turbo: false }, method: :get %>

    </div>
  </div>

</div>
