<div class="row">
  <div class="columns" id="add-back-arrow">
    <img src="/assets/restore.svg" class="icon large float-left">
    <h2>Compare -<%= @second_id %>, +<%= @first_id %></h2>
    <%= prepare_nice_data(@first, @second) %>
  </div>
</div>
