.navbar {
  margin-bottom: 5px;
}

.secondary-menu {
  float: right;
  border-bottom: 1px #eee solid;
  text-align: right;
}
.secondary-menu .divider {
  border-left: 1px #eee solid;
  margin: 1em;
}

.post-meta {
  font-size: 0.8em;
}
