<div class="row">
  <div class="columns" id="add-back-arrow">
    <h2 class="icon icon-arrow-back md cursor-pointer"> Compare -<%= @second_id %>, +<%= @first_id %></h2>
    <%= prepare_nice_data(@first, @second) %>
  </div>
</div>
