<div id="events" class="col-12">
<% @events.each do |event| %>
  <%= link_to event_path(event), class: "row odd-even" do %>
  <div class="small-6 medium-8 columns">
    <%= event.title %>
  </div>
  <div class="small-4 medium-3 columns hide-for-small-only">
    <%= content_tag :label, l(event.start, format: :longnotime) %>
  </div>
  <div class="small-2 medium-1 columns hide-for-small-only text-center">
    <%= content_tag :label, (event.allDay? ? "Allday" : l(event.start, format: :short)),
     class: event.allDay? ? "button tiny" : "" %>
  </div>
  <% end %>
<% end %>
</div>
