<div id="events" class="col-12">
<div class="row row-th">
  <div class="medium-5 columns">Name</div>
</div>
<% @events.each do |event| %>
  <%= link_to event_path(event), class: "row odd-even" do %>
  <div class="small-6 medium-6 columns">
    <%= event.title %>
  </div>
  <div class="small-3 medium-3 columns">
    <%= content_tag :label, l(event.start, format: :long), class: "event-show-date-time" %>
  </div>
  <div class="small-3 medium-3 columns">
    <%= content_tag :label, l(event.end, format: :long), class: "event-show-date-time" %>
  </div>
  <% end %>
<% end %>
</div>
