<div class="row">
  <div class="columns medium-6" id="add-back-arrow">
    <img src="/assets/restore.svg" class="icon">
    <%= content_tag :span, '', class: "divider" if @event.id %>
  </div>
  <div class="columns medium-6 text-right" id="add-back-arrow">
    <p><%= button_to "Restore version #{@event.id}", eventrestore_path,
      params: { version_id: @event.id} , class: "button" if @event.id %></p>
  </div>
</div>
