<div class="row secondary-menu">
  <div class="small-10 medium-10 columns">
    <img src="/assets/calendar-month.svg" class="icon large">
    <span class="divider"></span>
    <img src="/assets/search.svg" data-controller="event" data-action="click->event#showSearch" class="icon large">
    <span class="divider"></span>
  </div>
  <div class="small-2 medium-2 columns text-right">
    <%= link_to new_event_path do %>
      <%= image_tag "add.svg", class: "icon large" %>
    <% end %>
    <span class="divider"></span>
  </div>
</div>

<div id="show_search" class="row display-none">
  <div class="columns">
  <%= form_with url: events_search_path do |form| %>
    <%= form.search_field :event_search, placeholder: 'Search events',
      value: params[:event_search], oninput: "this.form.requestSubmit()" %>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="columns" id="calendar"></div>
</div>

