<div class="row hide-for-print" data-controller="event">
  <div class="small-10 medium-10 columns">
    <div class="icon calendar-month p-2 cursor-pointer border-right-dashed" title="Month grid" data-action="click->event#showMonthView"></div>
    <div class="icon calendar-view-week p-2 cursor-pointer border-right-dashed" title="Week grid" data-action="click->event#showWeekView"></div>
    <div class="icon list p-2 cursor-pointer border-right-dashed" title="List events" data-action="click->event#showListMonth"></div>
    <div class="icon search p-2 cursor-pointer" data-action="click->event#showSearch" title="Search events"></div>
  </div>
  <div class="small-2 medium-2 columns p-2 text-right">
    <%= link_to (content_tag :div, '', class: "icon add"), new_event_path, title: "Add event" %>
  </div>
</div>

<div id="show_search" class="row display-none">
  <div class="columns">
  <%= form_with url: events_search_path, id: "search-form" do |form| %>
    <%= form.search_field :search, placeholder: 'Search events', value: cookies[:search],
      data: { controller: "event", action: "focus->event#search input->event#search" } %>
  <% end %>
  </div>
</div>

<div class="row pt-4">
  <div class="columns" id="calendar"></div>
</div>

