<div class="row" data-controller="event">
  <div class="small-10 medium-10 columns">
    <div class="icon icon-calendar-month md p-2 border-right-dashed" title="Year grid" data-action="click->event#showMonthView"></div>
    <div class="icon icon-calendar-view-week md p-2 border-right-dashed" title="Week grid" data-action="click->event#showWeekView"></div>
    <div class="icon icon-calendar-list-month md p-2 border-right-dashed" title="List month" data-action="click->event#showListMonth"></div>
    <div class="icon icon-search md p-2" data-action="click->event#showSearch"></div>
  </div>
  <div class="small-2 medium-2 columns p-2 text-right">
    <%= link_to (content_tag :div, '', class: "icon icon-calendar-add md"), new_event_path %>
  </div>
</div>

<div id="show_search" class="row display-none">
  <div class="columns">
  <%= form_with url: events_search_path, id: "search-form" do |form| %>
    <%= form.search_field :search, placeholder: 'Search events', value: cookies[:search],
      data: { controller: "event", action: "focus->event#search input->event#search" } %>
  <% end %>
  </div>
</div>

<div class="row pt-4">
  <div class="columns" id="calendar"></div>
</div>

