<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @contact.name %></h3>
    Birthday <%= @contact.birthdate %>, tomorrow <%= @contact.age(@contact.birthdate - 1.year) %> years.
  </body>
</html>

