<div data-controller="event" data-turbo-prefetch="false">
  <div class="row">
    <div class="columns" id="add-back-arrow">
      <h2 class="icon arrow-back md cursor-pointer">Versions</h2>
    </div>
  </div>

  <div class="row hide-for-small-only color-bg-300 p-2">
    <div class="medium-8 columns">Created</div>
    <div class="medium-4 columns text-right">Select version</div>
  </div>
  <% @event_versions.each do |event_version| %>
  <div id="versions" class="row odd-even">
    <div class="small-8 medium-8 columns">
      <%= link_to (l event_version.created_at, format: :long), event_version_path(event_version) %>
    </div>
    <div class="small-4 medium-4 columns text-right">
      <img src="assets/difference.svg" class="icon large">
      <%= check_box_tag "version_ids[]", event_version.id, false, id: event_version.id,
        data: { action: "click->event#versions" }, class: "checkBoxClass" %>
      <%= content_tag :span, event_version.id %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="medium-10 columns"></div>
    <div class="medium-2 columns text-right">
      &nbsp;

      <%= button_to "Compare versions", event_versions_compare_path, id: "compare_btn", class: "button disabled", disabled: true,
        params: { ids: "" }, data: { turbo: false }, method: :get %>

    </div>
  </div>

</div>
