<div data-controller="event" data-turbo-prefetch="false">
  <div class="row">
    <div class="columns" id="add-back-arrow">
      <h2 class="icon arrow-back cursor-pointer text-xl">Versions</h2>
    </div>
  </div>

  <div class="row color-bg-300 p-2">
    <div class="medium-10 columns hide-for-small-only">Created</div>
    <div class="medium-2 columns">Select two versions</div>
  </div>
  <% @event_versions.each do |event_version| %>
  <div class="row even pt-2">
    <div class="small-8 medium-10 columns">
      <%= link_to (l event_version.created_at, format: :long), event_version_path(event_version) %>
    </div>
    <div class="small-4 medium-2 columns">
      <%= check_box_tag "version_ids[]", event_version.id, false, id: event_version.id,
        data: { action: "click->event#versions" }, class: "checkBoxClass" %>
      <%= content_tag :span, event_version.id, class: "icon difference large align-bottom" %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="medium-10 columns"></div>
    <div class="medium-2 columns pt-2">
      <%= button_to "Compare versions", event_versions_compare_path, id: "compare_btn",
        class: "button disabled", disabled: true, params: { ids: "" }, data: { turbo: false }, method: :get %>
    </div>
  </div>

</div>
