<div class="row">
  <div class="columns strong">
    <h3 class="icon cake-filled filter-orange large"> Anniversaries</h3>
  </div>
</div>
<div id="contacts" class="row">
<% @contacts.each do |contact| %>
  <%= link_to contact_path(contact), class: "small-6 medium-3 large-2 callout text-center" do %>
    <%= content_tag :div, contact.name, class: "text-base" %>
    <%= content_tag :div, get_birthday_age(contact), class: "meta-data" %>
  <% end %>
<% end %>
</div>
