<div class="row">
  <div class="columns medium-6" id="add-back-arrow">
    <img src="/assets/restore.svg" class="icon">
    <%= content_tag :span, '', class: "divider" if @contact.id %>
  </div>
  <div class="columns medium-6 text-right" id="add-back-arrow">
    Version <%= @contact.id %>
    <%= button_to "Restore (html)", contactrestore_path,
      params: { version_id: @contact.id} , class: "button" if @contact.id %>
  </div>
</div>
