<div class="row">
  <div class="columns strong">
    <h3><img src="/assets/star-filled.svg" class="icon large warning-filter"> Starred contacts</h3>
  </div>
</div>
<div id="contacts" class="row">
<% @contacts.each do |contact| %>
  <%= link_to contact_path(contact), class: "small-6 medium-3 large-2 callout text-center" do %>
    <%= content_tag :div, contact.name, class: "text-base" %>
    <div class="meta-data">
    <% JSON.parse(contact.phones).each do | phone | %>
        <%= label_tag phone["type"] %>
        <%= phone["value"] %>
      <% end %>
    </div>
  <% end %>
<% end %>
</div>
