/* bookmark */

$color-fun: orange;
$color-business: red;
$color-kb: #008CBA;
$color-other: green;

.fun {
  padding-right: 6px;
  border-right: 8px $color-fun solid; 
}
.kb {
  padding-right: 6px;
  border-right: 8px $color-kb solid; 
}
.business { 
  padding-right: 6px;
  border-right: 8px $color-business solid; 
}
.other   {
  padding-right: 6px;
  border-right: 8px $color-other solid; 
}

.switch.bookmark-fun input:checked + label {
  background: $color-fun;
}
.switch.bookmark-kb input:checked + label {
  background: $color-kb;
}
.switch.bookmark-business input:checked + label {
  background: $color-business;
}
.switch.bookmark-other input:checked + label {
  background: $color-other;
}


