/* calendar */

$color-appointment: #008CBA;
$color-memo: orange;

.appointment { 
  border-right: 8px $color-appointment solid; 
  padding-left: 0;
  &.fc-event { 
    background-color: $color-appointment; 
    border-left: 2px; 
  }
}
.memo { 
  border-right: 8px $color-memo solid;
  padding-left: 0;
  &.fc-event { 
    background-color: $color-memo; 
    border-color: darkorange;
    border-left: 2px; 
  }
}

.switch.cal-appointment input:checked + label {
  background: $color-appointment;
}
.switch.cal-memo input:checked + label {
  background: $color-memo;
}

span#search-calendar.fi-calendar {
  font-size: 1.8em;
}

/* Fullcalendar overwrites */

.fc-state-default {
  background-image: none;
  &:focus {background-color: #f5f5f5;}
  &:focus {color: #000000;}
}

.fc-toolbar {
  margin-bottom: 0; 
}
