/* calendar */

input#title {
  margin: 0;
}

$color-business: red;
$color-memo: orange;
$color-holiday: mediumseagreen;
$color-appointment: dodgerblue;
$color-import: plum;

.business {
  border-right: 8px $color-business solid; 
  padding-right: 0;
  &.fc-event {
    background-color: $color-business; 
    border-left: 2px; 
  }
}
.memo {
  border-right: 8px $color-memo solid;
  padding-right: 0;
  &.fc-event {
    background-color: $color-memo; 
    border-color: darkorange;
    border-left: 2px; 
  }
}
.holiday {
  border-right: 8px $color-holiday solid; 
  padding-right: 0;
  &.fc-event {
    background-color: $color-holiday; 
    border-left: 2px; 
  }
}
.appointment {
  border-right: 8px $color-appointment solid; 
  padding-right: 0;
  &.fc-event {
    background-color: $color-appointment; 
    border-left: 2px; 
  }
}
.import {
  border-right: 8px $color-import solid; 
  padding-right: 0;
  &.fc-event {
    background-color: $color-import; 
    border-left: 2px; 
  }
}

.switch.cal-business input:checked + label {
  background: $color-business;
}
.switch.cal-memo input:checked + label {
  background: $color-memo;
}
.switch.cal-holiday input:checked + label {
  background: $color-holiday;
}
.switch.cal-appointment input:checked + label {
  background: $color-appointment;
}
.switch.cal-import input:checked + label {
  background: $color-import;
}


/* Fullcalendar overwrites */
#myCalendar {
  h2 {
   font-weight: normal;
   border-bottom: none;
  }
  .fc-content {
    padding: 1px;
   }
  .fc-event {
    border: none;
  }
  .fc-state-default {
    background-image: none;
    &:focus {background-color: #f5f5f5;}
    &:focus {color: #000000;}
  }
  .fc-toolbar {
    margin-bottom: 0; 
  }
  table {
    margin-bottom: 0;
  }
  thead, tbody, tfoot {
    background: none;
    border: none;
      th, td {
      font-weight: normal;
    }
  }
  tbody tr:nth-child(even) {
    background-color: transparent;
  }
}


