
@mixin my-row {
  border-bottom: 1px #eee solid;
  padding: 6px;
  margin-top: 0;
}
.my-row { @include my-row}

$color-appointment: #008CBA;
$color-memo: orange;

.appointment { 
  border-left: 8px $color-appointment solid; 
  &.fc-event { 
    background-color: $color-appointment; 
    border-left: 2px; 
  }
}
.memo { border-left: 8px $color-memo solid;
  &.fc-event { 
    background-color: $color-memo; 
    border-color: darkorange;
    border-left: 2px; 
  }
}

.switch.cal-appointment input:checked + label {
  background: $color-appointment;
}
.switch.cal-memo input:checked + label {
  background: $color-memo;
}

span#search-calendar.fi-calendar {
  font-size: 1.8em;
}

/* Fullcalendar overwrites */

.fc-state-default {
  background-image: none;
  &:focus {background-color: #f5f5f5;}
  &:focus {color: #000000;}
}
