/* Contacts */

.starred {
  cursor: pointer;
  color: orange;
}

.un-starred {
  cursor: pointer;
  color: #ddd;
}

ul.starred-list {
  margin: 0;
  .photo {
    border-radius: 100%;
    max-height: 6rem;
    max-width: 6rem;
  }
  .name {
    text-align: center;
    p {
      font-size: 0.8rem;
      margin: 3px;
    }
  }
}

.profile-bg {
  height: 12em;
  margin-bottom: -12em;
  background-position: center;
  -webkit-transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);

  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  opacity: 0.8;
}
.profile-row {
  .profile-img {
    border-radius: 100%;
    max-width: 12em;
    margin-top: -2em;
  }
  .contact-name {
    position: inherit;
    text-align: center;
    font-size: 1.5rem;
  }
}

.item-title {
  padding-top: 10px;
  padding-left: 5px;
  border-bottom: #eee 1px solid;
  font-weight: bold;
}

#contact-form {
  .reset-button {
    color: #AAAAAA;
    background: transparent;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 0 0 15px;
    bottom: 5px;
  }
  .fi-plus {
    font-size:1.8rem;
    margin-left: 5px;
  }
}

.download-vcard {
  font-size: 0.8rem;
  text-align: right;
}
