/* Contacts */

.starred {
  cursor: pointer;
  color: orange;
}

.un-starred {
  cursor: pointer;
  color: #ddd;
}

.starred-list {
  height: 150px;
}
.birthdate-list {
  height: 190px;
  p.birthdate {
    margin-top: 3px;
  }
}
.starred-list, .birthdate-list {
  text-align: center;
  margin: 0;
  img.photo {
    border-radius: 100%;
    max-height: 6rem;
    max-width: 6rem;
  }
  p.name {
    font-size: 0.8rem;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.list-profile-img {
  border-radius: 100%;
  max-width: 1.5em;
}
.list-birthdate-img {
  border-radius: 100%;
  vertical-align: text-top;
}

.profile-row {
  .profile-img {
    border-radius: 100%;
    max-width: 14em;
    margin-top: -1em;
    position: relative;
  }
  .contact-name {
    position: inherit;
    text-align: center;
    font-size: 1.5rem;
  }
}

.item-title {
  padding-top: 10px;
  padding-left: 5px;
  border-bottom: #eee 1px solid;
  font-weight: bold;
}

#contact-form {
  .reset-button {
    color: #AAAAAA;
    background: transparent;
    font-size: 2.5rem;
    font-weight: bold;
    bottom: 5px;
  }
  .fi-photo {
    font-size:2.2rem;
    position: absolute;
    margin-top: -10px;
    margin-left: -12px;
  }
  .fi-plus {
    font-size:1.8rem;
  }
  .fi-x {
    font-size:1.8rem;
    color: orange;
  }
}

.download-vcard {
  text-align: right;
}

