/* Contacts */

.row-starred {
  font-size: 1.4em;
  z-index: 9;
}

.profile-row {
  margin-top: -2em;
}
.profile-birthdate {
  position: inherit;
  margin-top: -2em;
}

.starred {
  cursor: pointer;
  font-size: 1.2em;
  color: orange;
}

.un-starred {
  cursor: pointer;
  font-size: 1.2em;
  color: #ddd;
}

#contact-form {
  .reset-button {
    color: #AAAAAA;
    background: transparent;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 0 0 15px;
    bottom: 5px;
  }
  .fi-plus {
    font-size:1.8rem;
    margin-left: 5px;
  }
}

.profile-bg {
  height: 12em;
  margin-bottom: -12em;
  -webkit-filter: blur(50px);
  background-position: center;
}

.profile-row {
  .profile-img {
    border-radius: 100%;
    max-width: 12em;
    margin-top: -2em;
  }
  .contact-name {
    position: inherit;
    text-align: center;
    font-size: 1.5rem;
  }
}

.item-title {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: #eee 1px solid;
  font-weight: bold;
}

