
h1.home {
  font-size: 2rem;
  letter-spacing: 6px;
  color: #2199e8;
  text-shadow: -2px 2px 3px #B8B2B5;
}

div.home {
  margin-top: 1em;
  border-bottom: 2px solid #eee;
  font-size: 1.2rem;
  i {
    color: #2199e8;
  }
}
