
h1.home {
  font-size: 2rem;
  letter-spacing: 6px;
  color: #008CBA;
  text-shadow: -2px 2px 3px #B8B2B5;
}

div.home {
    background-color: #008CBA;
    color: white;
    font-style: normal;
    margin-top: 2em;
}
