[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#flash-messages {
  margin: 0; 
  li.alert-box {
    margin: 0;
  }
}

h1 {
  &:first-letter{
    text-transform: capitalize;
  }
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

h3 {
  font-size: 1rem;
  text-decoration: underline;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

p {
  margin-top: 0;
  margin-top: 1.25rem;
}

table p {
  margin: 0px;
}

input#title-input {
  font-size: 1.5rem;
}

.secondary-menu {
  padding-left: 0px;
  border-bottom: 1px #eee solid;
  text-align: right;
  font-size: 2rem;
  .divider {
    border-left: 1px #eee solid;
    margin: 1rem;
  }
  a.alert {color: #f04124};
}

ul.inline-list {
  margin-left: 0rem;
  > li.tag {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
}

#title-input {
  margin-bottom: 0;
}
#search input[type="text"].search-box {
  margin-top: 1rem;
  font-size: 1.2rem;
}

#search .reset-button {
  margin-top: 0.5rem;
  padding: 0;
  font-size: 2.6875rem;
  color: #AAAAAA;
  background: transparent;
  font-weight: bold;
}

.date-meta {
  font-size: 0.8rem;
  padding: 0.25rem;
}

.reversed {
  color: white;
  padding: 6px 16px 7px 16px;
  background: #008CBA;
  margin-right: 18px;
  &:hover {
   color: #008CBA;
   background: #eee;
  }
}

/* Foundation overwrites */

.icon-bar {
  margin-bottom: -6px; /* Icon-bar issue?! */
}

button {
  margin-bottom: 0px;
}

