/* main */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  &.font-small {font-size : 14px;}
  &.font-default {font-size : 16px;}
  &.font-large {font-size : 18px;}
  &.font-x-large {font-size : 20px;}
}

.menu {
  &.expanded{ font-size: 2em};
  background-color: black;
  a {color: #fff;}
}

#offCanvas {
  h2 {
    color: #fff;
    border: 0;
    padding: 1em;
    margin: 0;
    background-color: #2199e8;
  }
  li {
    border-bottom: 1px solid #7C7D7D;
    border-top: 1px solid #47494A;
  }
}

#flash-messages {
  margin: 0;
  li.alert-box {
    margin: 0;
  }
}

h1 {
  &:first-letter{
    text-transform: capitalize;
  }
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
  margin-top: 1em;
}

h3 {
  font-size: 1rem;
  text-decoration: underline;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

p {
  margin-top: 0;
  margin-top: 1.25rem;
}

ul.start {
  margin: 0;
  padding-left: 0;
  margin-bottom: 1em;
  li {
    list-style-type: none;
    font-size: 1.5em;
    line-height: 2em;
  }
}

table p {
  margin: 0px;
}

pre {
  background-color: #eee;
  margin-bottom: 2rem;
}

code {
  background-color: #eee;
  border-style: none;
  padding: 0
}

.search-box {
  margin-bottom: 2em;
}

#markdown table {
  width: 100%;
  margin-bottom: 10px;
  tr, td {
    border: 1px solid #CBC1C1;
    padding: 4px;
  }
}

.reset-button {
  font-size: 2.6875rem;
  color: #AAAAAA;
}

.my-row {
  border-bottom: 1px #eee solid;
  padding: 6px;
  margin-top: 0;
}

.secondary-menu {
  padding-left: 5px; 
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 2rem;
  .divider {
    border-left: 1px #eee solid;
    margin: 0.6rem;
  }
  a.alert {color: #f04124};
}

.reversed {
  color: white;
  padding: 5px 14px 5px 14px;
  background: #2199e8;
  border-radius: 20%;
  &:hover {
   color: #2199e8;
   background: #fff;
  }
}

.grayscale {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
    -webkit-filter: grayscale(1); /* Webkit */
}

label.tag {
  margin-bottom: 10px;
}

.odd {
  background: aliceblue;
}
.even {
  background: white;
}

.icon-button {
  font-size: 2rem;
  color: #0078a0;
}

#share {
  img {
    width: 3rem;
    margin-bottom: 1rem;
  }
  fieldset span {
    font-size: 1.4rem;
    padding-left: 1rem;
  }
}

.secondary-data {
  color: #aaa;
}

.meta-data {
  font-size: 0.8rem;
  color: #aaa;
}

/* Foundation 
// Set `@include foundation-everything;` 
// on the end of `/src/foundation/foundation.scss`
// 
// Set `$global-radius: 5px !default;`
// in `src/foundation/_global.scss`
//
// Have made other foundation overwrites here, so we don't
// have to update all these files after a update.
*/
fieldset {
  margin: 1em;
  border: solid 1px #ddd;
  padding: 1em;
  border-radius: 5px;
}

legend {
  font-weight: bold;
  padding: 0 5px 0 5px;
}

.menu.close-button {
  color: #ddd; 
  line-height: 0.7;
}

.off-canvas-wrapper, .off-canvas-wrapper-inner {
  height: inherit;
}
