/* Posts */

$color-todo: red;
$color-note: orange;
$color-article: green;
$color-other: dodgerblue;

.todo { 
  padding-right: 6px;
  border-right: 8px $color-todo solid; 
}
.note {
  padding-right: 6px;
  border-right: 8px $color-note solid; 
}
.article {
  padding-right: 6px;
  border-right: 8px $color-article solid; 
}
.other   {
  padding-right: 6px;
  border-right: 8px $color-other solid; 
}


.switch.post-todo input:checked + label {
  background: $color-todo;
}
.switch.post-note input:checked + label {
  background: $color-note;
}
.switch.post-article input:checked + label {
  background: $color-article;
}
.switch.post-other input:checked + label {
  background: $color-other;
}


