/* Posts */

$color-note: orange;
$color-blog: green;
$color-todo: red;
$color-kb: #008CBA;

.note {
  padding-left: 6px;
  margin-top: 0;
  border-left: 8px $color-note solid; 
}
.blog {
  padding-left: 6px;
  margin-top: 0;
  border-left: 8px $color-blog solid; 
}
.todo { 
  padding-left: 6px;
  margin-top: 0;
  border-left: 8px $color-todo solid; 
}
.kb   {
  padding-left: 6px;
  margin-top: 0;
  border-left: 8px $color-kb solid; 
}


.switch.post-note input:checked + label {
  background: $color-note;
}
.switch.post-blog input:checked + label {
  background: $color-blog;
}
.switch.post-todo input:checked + label {
  background: $color-todo;
}
.switch.post-kb input:checked + label {
  background: $color-kb;
}

fieldset.post-toc {
  padding-top: 1em;
  padding-bottom: 0em;
  ul li p {
  padding:0px;
  margin: 0px;
  }
}

pre {
  background-color: #eee;
  margin-bottom: 2rem;
}

code {
  background-color: #eee;
  border-style: none;
  padding: 0
}

textarea#posts-content {
 font-family: courier;
}


