div.row
 div#contact-settings.reveal-modal(data-reveal='')
  a.close-reveal-modal &#215;
  h2 General contact settings

  fieldset
   legend Limit contacts per request
   div.row
    div.column.small-6.my-row List 50 contacts
    div.switch.round.column.small-6
     input#contact-50(type="radio", value="50", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(50)")
     label(for="contact-50") 
   div.row
    div.column.small-6.my-row List 100 contacts
    div.switch.round.column.small-6
     input#contact-100(type="radio", value="100", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(100)")
     label(for="contact-100") 
   div.row
    div.column.small-6.my-row List 300 contacts
    div.switch.round.column.small-6
     input#contact-300(type="radio", value="300", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(300)")
     label(for="contact-300")
   div.row
    div.column.small-6.my-row List 1000 contacts
    div.switch.round.column.small-6
     input#contact-1000(type="radio", value="1000", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(1000)")
     label(for="contact-1000")

  fieldset
   legend Order contacts
   div.row
    div.column.small-6.my-row By Fullname
    div.switch.round.column.small-6
     input#contact-order-name(type="radio", value="name", name="contactOrder", ng-model="contactOrder", ng-change="changeOrder('name')")
     label(for="contact-order-name")
   div.row
    div.column.small-6.my-row By last-read
    div.switch.round.column.small-6
     input#contact-order-last-read(type="radio", value="last_read", name="contactOrder", ng-model="contactOrder", ng-change="changeOrder('last_read')")
     label(for="contact-order-last-read")

  div.small-12
   span.meta-data
    i  * Settings only for this device

  h2 Contacts donwload

  fieldset
   legend.fi-download  Contacts as vCard
   include ./contact.vcard.jade
