div.row
 div#contact-settings.reveal-modal(data-reveal='')
  a.close-reveal-modal &#215;
  h2 General contact settings

  fieldset
   legend Limit contacts per request
   div.row
    div.column.small-6.my-row List 50 contacts
    div.switch.round.column.small-6
     input#contact-50(type="radio", value="50", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(50)")
     label(for="contact-50") 
   div.row
    div.column.small-6.my-row List 100 contacts
    div.switch.round.column.small-6
     input#contact-100(type="radio", value="100", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(100)")
     label(for="contact-100") 
   div.row
    div.column.small-6.my-row List 300 contacts
    div.switch.round.column.small-6
     input#contact-300(type="radio", value="300", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(300)")
     label(for="contact-300")
   div.row
    div.column.small-6.my-row List 1000 contacts
    div.switch.round.column.small-6
     input#contact-1000(type="radio", value="1000", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(1000)")
     label(for="contact-1000")
    div.small-12
     span.date-meta 
      i  * Settings wil be reset on logout

  fieldset
   legend Order contacts
   div.row
    div.column.small-6.my-row By Fullname
    div.switch.round.column.small-6
     input#contact-order-name(type="radio", value="name", name="contactOrder", ng-model="contactOrder", ng-change="changeOrder('name')")
     label(for="contact-order-name")
   div.row
    div.column.small-6.my-row By updated
    div.switch.round.column.small-6
     input#contact-order-updated(type="radio", value="updated", name="contactOrder", ng-model="contactOrder", ng-change="changeOrder('updated')")
     label(for="contact-order-updated")
  fieldset
   div.row
    div.column.small-12
     button.radius(ng-click="saveSettings('#{stateGo}')", title='Save settings') Save
   div.row
    div.small-12
     span.date-meta 
      i  * Settings wil be reset on logout

  fieldset
   legend Download contacts
   div.row
    div.column.small-12.medium-3
     div.download-vcard
      nobr
       label Phonenumbers
        input(type="checkbox",name="phonenumbers", ng-model="dlPhones", ng-init="dlPhones=true")
     div.download-vcard
      nobr
       label Companies
        input(type="checkbox",name="companies", ng-model="dlCompanies") 
     div.download-vcard
      nobr
       label E-mailaddresses
        input(type="checkbox",name="emailadresses", ng-model="dlEmails")
     div.download-vcard
      nobr
       label Websites
        input(type="checkbox",name="websites", ng-model="dlWebsites")
    div.column.small-12.medium-3
     div.download-vcard
      nobr
       label Photo
        input(type="checkbox",name="photo", ng-model="dlPhoto", ng-init="dlPhoto=true")
     div.download-vcard
      nobr
       label Addressess
        input(type="checkbox",name="addresses", ng-model="dlAddresses")
     div.download-vcard
      nobr
       label Birthdate
        input(type="checkbox",name="birthdate", ng-model="dlBirthdate")
     div.download-vcard
      nobr
       label Notes
        input(type="checkbox",name="notes", ng-model="dlNotes")
    div.column.small-12.medium-3
     p
      button.radius(ng-click="downloadContacts('#{stateGo}')", title='Download contacts') Create vCard
    div.column.small-12.medium-3(ng-show="vCardShow")
     p
      a.fi-download(href="{{vCardLink}}", download='')  Download 
