div.row
 div.column.small-12.medium-4
  div.download-vcard
   nobr
    label Phonenumbers
     input(type="checkbox",name="phonenumbers", ng-model="dlPhones", ng-init="dlPhones=true")
  div.download-vcard
   nobr
    label Companies
     input(type="checkbox",name="companies", ng-model="dlCompanies") 
  div.download-vcard
   nobr
    label E-mailaddresses
     input(type="checkbox",name="emailadresses", ng-model="dlEmails")
  div.download-vcard
   nobr
    label Websites
     input(type="checkbox",name="websites", ng-model="dlWebsites")
 div.column.small-12.medium-4
  div.download-vcard
   nobr
    label Photo
     input(type="checkbox",name="photo", ng-model="dlPhoto", ng-init="dlPhoto=true")
  div.download-vcard
   nobr
    label Addressess
     input(type="checkbox",name="addresses", ng-model="dlAddresses")
  div.download-vcard
   nobr
    label Birthdate
     input(type="checkbox",name="birthdate", ng-model="dlBirthdate")
  div.download-vcard
   nobr
    label Notes
     input(type="checkbox",name="notes", ng-model="dlNotes")
 div.column.small-12.medium-4
  p(ng-show="!vCardShow")
   button.radius(ng-click="downloadContact(contact)", title='Download contact') Export vCard
  p(ng-show="vCardShow")
   a.button.radius.success.toggle.fi-download(href="{{vCardLink}}")  Download!
   div {{ downloadLabel }}
