div.row
 div#contact-settings.reveal.full(data-reveal='')
  button.close-button(data-close='', type="button")
   span(aria-hidden="true") &times;

  h2 General contact settings

  fieldset
   legend Limit contacts per request
   div.row
    div.column.small-6 List 100
     span.meta-data  fast
    div.switch.column.small-6
     input#contact-100.switch-input(type="radio", value="100", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(100)")
     label.switch-paddle(for="contact-100") 
   div.row
    div.column.small-6 List 300
    div.switch.column.small-6
     input#contact-300.switch-input(type="radio", value="300", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(300)")
     label.switch-paddle(for="contact-300")
   div.row
    div.column.small-6 List 1000
     span.meta-data  slow
    div.switch.column.small-6
     input#contact-1000.switch-input(type="radio", value="1000", name="contactLimit", ng-model="contactLimit", ng-change="changeLimit(1000)")
     label.switch-paddle(for="contact-1000")
    span.meta-data
     i  * Settings only for this device

  fieldset
   legend Order contacts
   div.row
    div.column.small-6 By Fullname
    div.switch.column.small-6
     input#contact-order-name.switch-input(type="radio", value="name", name="contactOrder", ng-model="contactOrder", ng-change="changeOrder('name')")
     label.switch-paddle(for="contact-order-name")
   div.row
    div.column.small-6 By last-read
    div.switch.column.small-6
     input#contact-order-last-read.switch-input(type="radio", value="last_read", name="contactOrder", ng-model="contactOrder", ng-change="changeOrder('last_read')")
     label.switch-paddle(for="contact-order-last-read")
    span.meta-data
     i  * Settings only for this device


  h2 Import & Export contacts
  fieldset
   legend.fi-upload  Import
   div.row
    div.column.small-12.medium-8 Select a vCard file
     input(type="file", bind-on-change="vCardFile")
    div.column.small-12.medium-4
     button.button(ng-click="uploadvCardFile()", data-close='') Import

  fieldset
   legend.fi-download  Export
   include ./contact.vcard.jade

