<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @contact.name %></h3>
    Birthday <%= @contact.birthdate %>, age: <%= @contact.age(@contact.birthdate) %>
  </body>
</html>

