  <div class="row">
    <div class="columns">
     <p class="strong">Current shares</p>
    </div>
    <% @passkeyshares.each do | share | %>
      <%= content_tag :div, share.email , class: "columns small-10 medium-10" %>
      <%= content_tag :div, class: "columns small-2 medium-2" do %>
      <%= link_to passkeyshare_path(id: share.id, passkey_id: share.passkey_id), data: { "turbo-method": :delete } do %>
        <%= image_tag "delete.svg", class: "icon medium" %>
      <% end %>
    <% end %>
  <% end %>
  </div>
