<div class="row hide-for-print">
  <div class="columns medium-6" id="add-back-arrow">
    <h1 class="icon arrow-back cursor-pointer"></h1>
  </div>
  <div class="columns medium-6 text-right">
    <p><%= button_to "Restore version #{@post.id}", postrestore_path,
      params: { version_id: @post.id} , class: "button warning" if @post.id %></p>
  </div>
</div>
