<div class="row secondary mb-6">
  <div class="small-10 medium-10 columns">
    <div class="icon icon-article md p-2 border-right-dashed"></div>
    <div class="icon icon-search md p-2" data-controller="post" data-action="click->post#showSearch"></div>
  </div>
  <div class="small-2 medium-2 columns text-right">
    <%= link_to (content_tag :div, '', class: "icon icon-note-add md p-2"),
      new_post_path, data: { turbo_frame: dom_id(Post.new) } %>
  </div>
</div>

<div id="show_search" class="row display-none">
  <div class="columns">
  <%= form_with url: posts_search_path, id: "search-form" do |form| %>
    <%= form.search_field :search, placeholder: 'Search notes', value: cookies[:search],
      data: { controller: "post", action: "focus->post#search input->post#search" } %>
  <% end %>
  </div>
</div>

<div class="row hide-for-small-only p-2 color-bg-300">
  <div class="medium-6 columns">Title</div>
  <div class="medium-2 columns">Last read</div>
  <div class="medium-2 columns">Updated</div>
  <div class="medium-2 columns">Created</div>
</div>
<%= render "posts" %>
