// Button component
//-----------------
.button, .button.disabled, .button[disabled] {
  color: #fff;
  background-color: var(--button-color);
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0.5em 0;
  padding: 0.75em;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 0.9em;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  &.alert {
    background-color: var(--alert-color);
  }
  &.secondary {
    background-color: #767676;
    color: #fefefe;
  }
  &.small {
    font-size: 0.75rem;
  }
  &.tiny {
    font-size: 0.6rem;
  }
  &.expanded {
    display: block;
    width: 100%;
  }
  &:hover { color: #fff; }
  &:active { text-decoration: none; }
  &:focus { text-decoration: none; }
}

.button.disabled, .button[disabled] {
  cursor: not-allowed;
}

span.button {
  margin-bottom: 0;
}

