// Button component
//-----------------
.button, .button.disabled, .button[disabled] {
  color: #fff;
  background-color: var(--color-600);
  &:hover { background-color: var(--color-700); }
  &:active { background-color: var(--color-800); }
  display: inline-block;
  vertical-align: middle;
  padding: 0.75em;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 0.9em;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  &.notice { background-color: var(--color-notice); }
  &.warning { color: #fff; background-color: var(--color-warning); }
  &.alert { color: #fff; background-color: var(--color-alert); }
  &.secondary { background-color: var(--color-secondary); }
  &.small { font-size: 0.75rem; }
  &.tiny { font-size: 0.75rem; padding: 0.5em;}
  &.expanded {
    display: block;
    width: 100%;
  }
  &:hover { color: #fff; }
  &:active { text-decoration: none; }
  &:focus { text-decoration: none; }
}

.button.disabled, .button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

