// Button component
//-----------------
.button, .button.disabled, .button[disabled] {
  color: #fff;
  background-color: var(--button-color);
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5em;
  padding: 0.75em;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 0.9em;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  &.notice { background-color: var(--notice-color); }
  &.alert { background-color: var(--alert-color); }
  &.secondary { background-color: var(--secondary-color); }
  &.small { font-size: 0.75rem; }
  &.tiny { font-size: 0.75rem; padding: 0.5em;}
  &.expanded {
    display: block;
    width: 100%;
  }
  &:hover { color: #fff; }
  &:active { text-decoration: none; }
  &:focus { text-decoration: none; }
}

.button.disabled, .button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

span.button {
  margin-bottom: 0;
}

#add-back-arrow {
   .back-arrow {
     float: left;
     padding-left: 10px;
     margin-top: 10px;
     font-size: 1.8em;
     cursor: pointer;
     &:after { content: '\02794'; }
     transform: rotate(180deg);
   }
 }
 .row-caption #add-back-arrow {
   margin-top: 0;
   .back-arrow {
     color: #fff;
     font-size: 1.4rem;
     margin-top: 2px;
  }
}

