// Callout component
//------------------
.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: #0a0a0a;
    &.secondary { background-color: #f2f2f2; }
    &.notice { background-color: lighten($notice-color, 20%) }
    &.success { background-color: lighten($success-color, 20%) }
    &.warning { background-color: lighten($warning-color, 30%) }
    &.alert { background-color: lighten($alert-color, 30%) }
}


