// Callout component
//------------------
.callout {
    position: relative;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--grey-accent);
    border-radius: 5px;
    color: var(--text-color);
    &.secondary { background-color: #f2f2f2; }
    &.notice { background-color: lighten($notice-color, 10%) }
    &.success { background-color: lighten($success-color, 10%) }
    &.warning { background-color: lighten($warning-color, 10%) }
    &.alert { background-color: lighten($alert-color, 10%) }
}


