// Callout component
//------------------
.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: #0a0a0a;
    &.secondary { background-color: #f2f2f2; }
    &.notice { background-color: var(--notice-color) }
    &.success { background-color: var(--success-color) }
    &.warning { background-color: var(--warning-color) }
    &.alert { background-color: var(--alert-color) }
}


// Tooltip component
//------------------

.toolltip, .tooltip:after { background: var(--button-color) }

// tooltip-hover is only for corporate-styles (premailer can't handle hovers)
.tooltip-hover, .tooltip:after {

  // Background-color is set in corporate scss.
  content: attr(data-tooltip);
  cursor: help;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.5em;
  color: #fff;
  text-align: left;
  padding: 8px;
  min-width: 12em;
  //max-width: 400px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 99;
  display: block;
  position: absolute;
  visibility: visible;

  // Reset margin-left form .hide-password
  margin-left: 0;

  // For tooltip on custom icon fi-lock-eye
  font-family: Quicksand, "Helvetica Neue", Arial, sans-serif;
}

// On input elements add margins.
.input-tip:after {
  margin-top: -1em;
}

a[data-tooltip] {
  cursor: pointer;
}

u[data-tooltip] {
  text-decoration: none;
  border-bottom: dotted 2px #8a8a8a;
}

@media screen and (min-width: 1024px) { .tooltip:after { max-width: 400px; } }


// Pagination component
//---------------------
.pagination {
  margin-bottom: 1rem;
  .page {
    padding: 4px 10px;
    border-radius: 5px;
    &:hover { background: #eee; }
  }
  .prev, .next {
    padding-top: 0px;
    border-radius: 5px;
    font-size: 1.6em;
  }
  .active {
  }
}

// Tabs component
//---------------
.tabs {
  li { margin-right: 2px; }
  margin: 0;
  border-bottom: 1px solid #e6e6e6;
  background: #fefefe;
  list-style-type: none;
  &:after { clear: both; }
  .tabs-title {
    float: left;
    border: 1px solid #e6e6e6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    a {
      display: block;
      padding: 1rem 1.5rem;
    }
    &.is-active a { background-color: #e6e6e6; }
  }
  &:before, &:after {
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1;
  }
}

@media screen and (max-width: 1023px) { .tabs li { margin-right: 10px; margin-bottom: 10px; } }
@media screen and (min-width: 1024px) { .tabs .tabs-title { border-bottom: 0px; } }

.tabs-content {
  border: 1px solid #e6e6e6;
  border-top: 0;
  background: #fefefe;
  color: #0a0a0a;
  .tabs-panel {
    padding: 1rem;
    &:not(.is-active) { display: none; }
  }
}

// Model component
//----------------
.modal {
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #444; /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    top: -100%;
    opacity: 0;
    transition: top 0.4s, opacity 0.4s;
}
.modal.show {
    top: 0;
    opacity: 1;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 3em auto; /* 10% from the top and centered */
    padding: 1em;
    border: 1px solid #888;
    border-radius: 5px;
    width: 90%; /* Could be more or less, depending on screen size */
    max-width: 1024px;
}

.read-more {
  max-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: max-height 1s linear;
}

.read-more.open {
  max-height: 100em;
  white-space: unset;
  transition: max-height 1s linear;
}

.read-more-btn::after, .read-less-btn:after {
  content: ' »';
  display: inline-block;
  padding-left: 5px;
  margin-left: 10px;
  font-size: 20px;
  margin-top: -5px;
}
.read-more-btn::after { transform: rotate(90deg); }
.read-less-btn::after { transform: rotate(-90deg); }

/* Markdown table */
#markdown table {
  border-collapse: collapse;
  thead, tfoot {
    border: 1px solid #f1f1f1;
    background: #f8f8f8;
    line-height: 2em;
  }
  tbody tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  width: 100%;
  margin-bottom: 10px;
  tr, td {
    border: 1px solid #CBC1C1;
    padding: 4px;
  }
}
