// Dialog component
//----------------
.dialog {
  border: solid 0px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--color-body);
  &::backdrop {
    background-color: var(--color-300);
    opacity: 0.75;
  }
  .close {
    font-size: 2em;
  }
}
#turbo-confirm {
  padding: 1em;
  border: solid 1px;
}
