.diff {
  .symbol { padding-right: 1em; }
  li { list-style: none; }
  .unchanged {
    display: none;
  }
  del, ins {
    display: flex;
    text-decoration: none;
    padding: 4px;
  }
  del {
    background-color: #edacac;
  }
  ins {
    background-color: #bef3be;
  }
}
