
.flash {
  &__message {
    background-color: #FFF;
    padding: 20px;
    border: 1px solid $main-color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }
  span {
    font-size: 2em;
    cursor: pointer;
    margin-top: -0.5em;
  }
  div.notice { background: $notice-color; }
  div.success { background: $success-color; }
  div.warning { background: lighten($warning-color, 30%) }
  div.alert { background: lighten($alert-color, 30%) }
}

svg {
    position: absolute;
    left: 0;
    top: 0;
}

