
.flash {
  display: block;
  position: fixed;
  right: 25px;
  &__message {
    background-color: #FFF;
    padding: 20px;
    border: 1px solid var(--main-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    animation: appear-then-fade 6s both;
  }
  div.notice {
    background: #eec8ee;
  }
}
svg {
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity:0
  }
  5%, 60% {
    opacity:1
  }
}

