
.flash {
  &__message {
    background-color: #FFF;
    padding: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }
  span {
    font-size: 2em;
    cursor: pointer;
    margin-top: -0.5em;
  }
}

svg {
    position: absolute;
    left: 0;
    top: 0;
}

