
.flash {
  display: block;
  position: fixed;
  right: 25px;
  margin-top: -7em;
  &__message {
    background-color: #FFF;
    padding: 20px;
    border: 1px solid var(--main-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    animation: appear-then-fade 6s;
  }
  div.notice {
    background: #eec8ee;
  }
}
svg {
    position: absolute;
    left: 0;
    top: 0;
}

@keyframes appear-then-fade {
  70% {
    transform: translateY(7em);
    opacity: 1;
  }
  100% {
    transform: translateY(0em);
    opacity: 0;
  }
}

