// FullCalendar overwrites
//------------------------
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) { margin-left: 0 !important; }

// Do not show the default fullcalendar text/buttons
.fc--button,
.fc-dayGridMonth-button,
.fc-listMonth-button,
.fc-listWeek-button,
.fc-multiMonthYear-button,
.fc-today-button,
.fc-timeGridWeek-button {
  display: none !important;
}

.fc {

  // Nav calendar  header
  .fc-toolbar-title { font-size: 1.4em }

  // Nav calendar buttons
  .fc-button-primary { border: none; }
  .fc-button-primary:focus, .fc-button:focus { box-shadow: none; }

  // Font-size weeknummers smaller;
  .fc-daygrid-week-number { font-size: smaller }

  // Do not show dot before event. Specialy on small screens.
  .fc-list-event-dot, .fc-daygrid-event-dot { display: none; }

  // Event items in calendar
  .fc-daygrid-event {
    .fc-event-title { font-weight: normal; }
    .fc-event-time { font-weight: 700; }
    padding-left: 2px;
    color: var(--color-text-diap);
  }

  // Do not show weeknumbers on small screens.
  @media screen and (max-width: 639px) {
    .fc-daygrid-week-number {
      display: none;
    }
  }

  a:not(.odd) {
    &.appointment { background: var(--appointment); }
    &.post { background: var(--post); }
    &.hobby { background: var(--hobby); }
    &.memo { background: var(--memo); }
    &.task { background: var(--task); }
    &.business { background: var(--business); }
    &.holiday { background: var(--holiday); }
    &.other { background: var(--other); }
  }

}
