// FullCalendar overwrites
//------------------------
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) { margin-left: 0 !important; }

// Do not show the default fullcalendar text/buttons
.fc--button,
.fc-dayGridMonth-button,
.fc-listMonth-button,
.fc-listWeek-button,
.fc-multiMonthYear-button,
.fc-today-button,
.fc-timeGridWeek-button {
  display: none !important;
}


// Nav calendar arrow buttons / header
.fc {
  .fc-button-primary {
    border: none;
  }
  .fc-toolbar-title { font-size: 1.5em }
}

// Do not show dot before event. Specialy on small screens.
.fc {
  .fc-list-event-dot, .fc-daygrid-event-dot { display: none; }
}

// Do not show weeknumbers on small screens.
@media screen and (max-width: 639px) {
  .fc-daygrid-week-number {
    display: none;
  }
}
