@import 'mixin';

// Prefixed by https://autoprefixer.github.io
.row {
    display: grid;
    grid-template-columns: repeat(12, minmax(1rem, 1fr));
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}

.column, .columns { grid-column: span 12; }
.col-12  { grid-column: span 12; }

// Small 0px - 640px
@media screen and (max-width: 639px) {
  @include small-columns;
  .column, .columns {
    padding-right: 8px;
    padding-left: 8px;
  }
  .hide-for-small-only { display: none !important; }
  .show-for-medium { display: none !important; }
  .show-for-medium-only { display: none !important; } // Not used
  .show-for-large { display: none !important; }
  .show-for-large-only { display: none !important; } // Not used
  .show-for-xlarge { display: none !important; } // Only in menu.link_title_root
}

// Medium 640px - 1024px
@media screen and (min-width: 640px) and (max-width: 1023px){
  @include medium-columns;
  .column, .columns {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hide-for-medium { display: none !important; } // Not used
  .hide-for-medium-only { display: none !important; } // Not used
  .show-for-small-only { display: none !important; }
  .show-for-large { display: none !important; }
  .show-for-large-only { display: none !important; } // Not used
  .show-for-xlarge { display: none !important; } // Only in menu.link_title_root
  .show-for-xlarge-only { display: none !important; } // Not used
}

// Large 1024 - 1200px
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  @include medium-columns;
  @include large-columns;
  .column, .columns {
    padding-right: 12px;
    padding-left: 12px;
  }
  .hide-for-medium { display: none !important; } // Not used
  .hide-for-large { display: none !important; }
  .hide-for-large-only { display: none !important; } // Not used
  .show-for-small-only { display: none !important; }
  .show-for-medium-only { display: none !important; } // Not used
  .show-for-xlarge { display: none !important; } // Only in menu.link_title_root
  .show-for-xlarge-only { display: none !important; } // Not used
}

// xlarge 1200px and more
@media screen and (min-width: 1200px) {
  @include medium-columns;
  @include large-columns;
  .column, .columns {
    padding-right: 12px;
    padding-left: 12px;
  }
  .hide-for-medium { display: none !important; } // Not used
  .hide-for-large { display: none !important; } // Backward compateble with 'large'
  .hide-for-xlarge { display: none !important; } // Not used
  .hide-for-xlarge-only { display: none !important; } // Not used
  .show-for-small-only { display: none !important; }
  .show-for-medium-only { display: none !important; } // Not used
  .show-for-large-only { display: none !important; } // Backwards compateble with 'large'
}


@media screen {
  .hide-for-screen { display: none !important; }
}
