// https://fonts.google.com/icons
// Weigth 200, Grade 0, Optical size 24, color #000000

.icon {
  &:not(.filter-diap):before { filter: var(--filter); }
  display: inline-flex;
  &:before {
    content: ' ';
    //background-size: cover;
    //background-position: right 0.2rem center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin-right: 0.25rem;
  }

  &.xs:before    { padding-right: 0.5rem; }
  &.sm:before    { padding-right: 0.7rem; }
  &.md:before    { padding-right: 1.2rem; }
  &.lg:before    { padding-right: 1.4rem; }
  &.xl:before    { padding-right: 1.6rem; }
  &.xl2:before   { padding-right: 1.8rem; }
  &.xl3:before   { padding-right: 2rem; }
  &.xl4:before   { padding-right: 3rem; }

  &.button:before { padding-top: 5px; }

  &.account-circle:before         { background-image: url(account-circle.svg) }
  &.add:before                    { background-image: url(add.svg) }
  &.apartment:before              { background-image: url(apartment.svg) }
  &.article:before                { background-image: url(article.svg) }
  &.arrow-back:before             { background-image: url(arrow-back.svg) }
  &.cake:before                   { background-image: url(cake.svg) }
  &.cake-filled:before            { background-image: url(cake-filled.svg) }
  &.event-note:before             { background-image: url(event-note.svg) }
  &.copy:before                   { background-image: url(copy.svg) }
  &.calendar-list:before          { background-image: url(calendar-list.svg) }
  &.calendar-list-month:before    { background-image: url(calendar-list-month.svg) }
  &.calendar-month:before         { background-image: url(calendar-month.svg) }
  &.calendar-view-week:before     { background-image: url(calendar-view-week.svg) }
  &.call:before                   { background-image: url(call.svg) }
  &.cloud-upload:before           { background-image: url(cloud-upload.svg) }
  &.cloud-upload-filled:before    { background-image: url(cloud-upload-filled.svg) }
  &.delete:before                 { background-image: url(delete.svg) }
  &.draft:before                  { background-image: url(draft.svg) }
  &.difference:before             { background-image: url(difference.svg) }
  &.edit:before                   { background-image: url(edit.svg) }
  &.group:before                  { background-image: url(group.svg) }
  &.home:before                   { background-image: url(home.svg) }
  &.home-work:before              { background-image: url(home-work.svg) }
  &.install-mobile:before         { background-image: url(install-mobile.svg) }
  &.key:before                    { background-image: url(key.svg) }
  &.link:before                   { background-image: url(link.svg) }
  &.list:before                   { background-image: url(list.svg) }
  &.location-on:before            { background-image: url(location-on.svg) }
  &.lock:before                   { background-image: url(lock.svg) }
  &.logout:before                 { background-image: url(logout.svg) }
  &.mail:before                   { background-image: url(mail.svg) }
  &.markdown:before               { background-image: url(markdown.svg) }
  &.more-time:before              { background-image: url(more-time.svg) }
  &.person:before                 { background-image: url(person.svg) }
  &.image-library:before          { background-image: url(image-library.svg) }
  &.image-add:before              { background-image: url(image-add.svg) }
  &.image:before                  { background-image: url(image.svg) }
  &.preview:before                { background-image: url(preview.svg) }
  &.pdf:before                    { background-image: url(pdf.svg) }
  &.restore:before                { background-image: url(restore.svg) }
  &.search:before                 { background-image: url(search.svg) }
  &.share:before                  { background-image: url(share.svg) }
  &.star:before                   { background-image: url(star.svg) }
  &.star-filled:before            { background-image: url(star-filled.svg) }
  &.visibility:before             { background-image: url(visibility.svg) }
  &.unknown-document:before       { background-image: url(unknown-document.svg) }

  // In list views icons take to much space. Extra helper.
  &.icon-top-pos:before {
     position: relative;
     top: -8px;
     display: flex;
     margin: -10px 0;
   }
  //span.label { position: relative; top: 12px; margin-top: -1em;}
}



