
.icon {
  display: inline-flex;
  &:before {
    content: ' ';
    //background-size: cover;
    //background-position: right 0.2rem center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    &.sm    { padding: 0.7rem; }
    &.md    { padding: 1.2rem; }
    &.lg    { padding: 1.4rem; }
    &.xl    { padding: 1.6rem; }
    &.xl2   { padding: 1.8rem; }
    &.xl3   { padding: 2rem; }
    &.xl4   { padding: 3rem; }

    &.filter-white   { filter: var(--filter-white) }
    &.filter-red     { filter: var(--filter-red) }
    &.filter-orange  { filter: var(--filter-orange) }

    &.icon-account-circle         { background-image: url("/assets/account-circle.svg") }
    &.icon-add                    { background-image: url("/assets/add.svg") }
    &.icon-apartment              { background-image: url("/assets/apartment.svg") }
    &.icon-article                { background-image: url("/assets/article.svg") }
    &.icon-arrow-back             { background-image: url("/assets/arrow-back.svg") }
    &.icon-cake                   { background-image: url("/assets/cake.svg") }
    &.icon-event-note             { background-image: url("/assets/event-note.svg") }
    &.icon-calendar-add           { background-image: url("/assets/calendar-add.svg") }
    &.icon-calendar-list          { background-image: url("/assets/calendar-list.svg") }
    &.icon-calendar-list-month    { background-image: url("/assets/calendar-list-month.svg") }
    &.icon-calendar-month         { background-image: url("/assets/calendar-month.svg") }
    &.icon-calendar-view-week     { background-image: url("/assets/calendar-view-week.svg") }
    &.icon-call                   { background-image: url("/assets/call.svg") }
    &.icon-cloud-upload           { background-image: url("/assets/cloud-upload.svg") }
    &.icon-delete                 { background-image: url("/assets/delete.svg") }
    &.icon-difference             { background-image: url("/assets/difference.svg") }
    &.icon-edit                   { background-image: url("/assets/edit.svg") }
    &.icon-group                  { background-image: url("/assets/group.svg") }
    &.icon-group                  { background-image: url("/assets/group.svg") }
    &.icon-key                    { background-image: url("/assets/key.svg") }
    &.icon-link                   { background-image: url("/assets/link.svg") }
    &.icon-location-on            { background-image: url("/assets/location-on.svg") }
    &.icon-lock                   { background-image: url("/assets/lock.svg") }
    &.icon-lock-add               { background-image: url("/assets/lock-add.svg") }
    &.icon-logout                 { background-image: url("/assets/logout.svg") }
    &.icon-mail                   { background-image: url("/assets/mail.svg") }
    &.icon-more-time              { background-image: url("/assets/more-time.svg") }
    &.icon-person                 { background-image: url("/assets/person.svg") }
    &.icon-person-add             { background-image: url("/assets/person-add.svg") }
    &.icon-photo-add              { background-image: url("/assets/photo-add.svg") }
    &.icon-preview                { background-image: url("/assets/preview.svg") }
    &.icon-restore                { background-image: url("/assets/restore.svg") }
    &.icon-search                 { background-image: url("/assets/search.svg") }
    &.icon-share                  { background-image: url("/assets/share.svg") }
    &.icon-star                   { background-image: url("/assets/star.svg") }
    &.icon-star                   { background-image: url("/assets/star.svg") }
    &.icon-star-filled            { background-image: url("/assets/star-filled.svg") }
    &.icon-visibility             { background-image: url("/assets/visibility.svg") }
  }

}
