// https://fonts.google.com/icons
// Weigth 200, Grade 0, Optical size 24, color #000000

.icon {
  display: inline-flex;
  &:before {
    content: ' ';
    //background-size: cover;
    //background-position: right 0.2rem center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin-right: 0.25rem;
    &.xs    { padding: 0.5rem; }
    &.sm    { padding: 0.7rem; }
    &.md    { padding: 1.2rem; }
    &.lg    { padding: 1.4rem; }
    &.xl    { padding: 1.6rem; }
    &.xl2   { padding: 1.8rem; }
    &.xl3   { padding: 2rem; }
    &.xl4   { padding: 3rem; }

    &.filter-diap    { filter: var(--filter-diap) }
    &.filter         {  filter: var(--filter); }
    &.filter-red     { filter: var(--filter-red) }
    &.filter-orange  { filter: var(--filter-orange) }

    &.account-circle         { background-image: url("/assets/account-circle.svg") }
    &.add                    { background-image: url("/assets/add.svg") }
    &.apartment              { background-image: url("/assets/apartment.svg") }
    &.article                { background-image: url("/assets/article.svg") }
    &.arrow-back             { background-image: url("/assets/arrow-back.svg") }
    &.cake                   { background-image: url("/assets/cake.svg") }
    &.cake-filled            { background-image: url("/assets/cake-filled.svg") }
    &.event-note             { background-image: url("/assets/event-note.svg") }
    &.copy                   { background-image: url("/assets/copy.svg") }
    &.calendar-list          { background-image: url("/assets/calendar-list.svg") }
    &.calendar-list-month    { background-image: url("/assets/calendar-list-month.svg") }
    &.calendar-month         { background-image: url("/assets/calendar-month.svg") }
    &.calendar-view-week     { background-image: url("/assets/calendar-view-week.svg") }
    &.call                   { background-image: url("/assets/call.svg") }
    &.cloud-upload           { background-image: url("/assets/cloud-upload.svg") }
    &.cloud-upload-filled    { background-image: url("/assets/cloud-upload-filled.svg") }
    &.delete                 { background-image: url("/assets/delete.svg") }
    &.difference             { background-image: url("/assets/difference.svg") }
    &.edit                   { background-image: url("/assets/edit.svg") }
    &.group                  { background-image: url("/assets/group.svg") }
    &.home                   { background-image: url("/assets/home.svg") }
    &.home-work              { background-image: url("/assets/home-work.svg") }
    &.key                    { background-image: url("/assets/key.svg") }
    &.link                   { background-image: url("/assets/link.svg") }
    &.list                   { background-image: url("/assets/list.svg") }
    &.location-on            { background-image: url("/assets/location-on.svg") }
    &.lock                   { background-image: url("/assets/lock.svg") }
    &.logout                 { background-image: url("/assets/logout.svg") }
    &.mail                   { background-image: url("/assets/mail.svg") }
    &.markdown               { background-image: url("/assets/markdown.svg") }
    &.more-time              { background-image: url("/assets/more-time.svg") }
    &.person                 { background-image: url("/assets/person.svg") }
    &.image-library          { background-image: url("/assets/image-library.svg") }
    &.image-add              { background-image: url("/assets/image-add.svg") }
    &.image                  { background-image: url("/assets/image.svg") }
    &.preview                { background-image: url("/assets/preview.svg") }
    &.restore                { background-image: url("/assets/restore.svg") }
    &.search                 { background-image: url("/assets/search.svg") }
    &.share                  { background-image: url("/assets/share.svg") }
    &.star                   { background-image: url("/assets/star.svg") }
    &.star-filled            { background-image: url("/assets/star-filled.svg") }
    &.visibility             { background-image: url("/assets/visibility.svg") }

    // In list views icons take to much space. Extra helper.
    &.icon-top-pos {
       position: relative;
       top: -8px;
       display: flex;
       margin: -10px 0;
     }
    //span.label { position: relative; top: 12px; margin-top: -1em;}
  }
}



