// Label component
//---------------
.label {
  padding: 0.33333rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  &.secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
    &:hover {
      color: #000;
      background: #ddd;
    }
  }
}

