// Markdown model
//---------------
#markdown {
  border-collapse: collapse;
  thead, tfoot {
    border: 1px solid #f1f1f1;
    background: #f8f8f8;
    line-height: 2em;
  }
  tbody tr:nth-child(even) {
    background-color: #f1f1f1;
  }
  width: 100%;
  margin: 1em;
  tr, td {
    border: 1px solid #CBC1C1;
    padding: 4px;
  }

  // Show markdown hearder smaller
  h2 { font-size: 1.25rem; }
  h3 { font-size: 1rem; }
}
