// Markdown model
//---------------
#markdown {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  thead, tfoot {
    border: 1px solid #f1f1f1;
    background-color: var(--color-300);
    line-height: 2em;
  }
  tbody tr:nth-child(even) {
    background-color: var(--color-200);
  }
  margin: 1em 0;
  tr, td {
    border: 1px solid var(--color-100);
    padding: 4px;
  }

  // Show markdown hearder smaller
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.375rem; }
  h3 { font-size: 1.25rem; }


  img[alt=img-100] { width: 100px; }
  img[alt=img-200] { width: 200px; }
  img[alt=img-300] { width: 300px; }
  img[alt=img-400] { width: 400px; }
  img[alt=img-500] { width: 500px; }
  img[alt=img-600] { width: 600px; }
  img[alt=img-700] { width: 700px; }
  img[alt=img-800] { width: 800px; }
}
