// Switch-paddle
//-----------------
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3.5rem;
  background-color: lightgray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0;
  bottom: -0.2rem;
  background-color: darkgrey;
  box-shadow: 0 0.1rem 0.25rem 0rem rgba(0, 0, 0, 0.3);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--bg-success);
  &:before { background-color: var(--bg-success) }
  &.appointment, &.appointment:before { background-color: var(--bg-notice); }
  &.memo, &.memo:before { background-color: var(--color-warning); }
  &.task, &.task:before { background-color: var(--color-alert); }
  &.business, &.business:before { background-color: var(--color-notice); }
  &.holiday, &.holiday:before { background-color: var(--color-success); }
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// Category colors
div.appointment, #events a.appointment {
  border-right: 8px var(--bg-notice) solid;
}
div.memo, #events a.memo {
  border-right: 8px var(--color-warning) solid;
}
div.task, #events a.task {
  border-right: 8px var(--color-alert) solid;
}
div.holiday, #events a.holiday {
  border-right: 8px var(--color-success) solid;
}
div.business, #events a.business {
  border-right: 8px var(--color-notice) solid;
}
div.import, #events a.import {
  border-right: 8px purple solid;
}

