// Switch-paddle
//-----------------

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3.5rem;
  background-color: lightgray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0;
  bottom: -0.2rem;
  background-color: darkgrey;
  box-shadow: 0 0.1rem 0.25rem 0rem rgba(0, 0, 0, 0.3);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--bg-success);
  &:before { background-color: var(--bg-success) }
  &.appointment, &.appointment:before { background-color: var(--appointment); }
  &.post, &.post:before { background-color: var(--post); }

  &.memo, &.memo:before { background-color: var(--memo); }
  &.task, &.task:before { background-color: var(--task); }
  &.business, &.business:before { background-color: var(--business); }
  &.hobby, &.hobby:before { background-color: var(--hobby); }
  &.holiday, &.holiday:before { background-color: var(--holiday); }
  &.other, &.other:before { background-color: var(--other); }
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// Category colors
.appointment, a:not(.fc-event).appointment {
  border-right: 8px var(--appointment) solid;
  padding-right: 0px;
}
.post, a:not(.fc-event).post {
  border-right: 8px var(--post) solid;
  padding-right: 0px;
}

.memo, a:not(.fc-event).memo {
  border-right: 8px var(--memo) solid;
  padding-right: 0px;
}
.task, a:not(.fc-event).task {
  border-right: 8px var(--task) solid;
  padding-right: 0px;
}
.holiday, a:not(.fc-event).holiday {
  border-right: 8px var(--holiday) solid;
  padding-right: 0px;
}
.hobby, a:not(.fc-event).hobby {
  border-right: 8px var(--hobby) solid;
  padding-right: 0px;
}
.business, a:not(.fc-event).business {
  border-right: 8px var(--business) solid;
  padding-right: 0px;
}
.other, a:not(.fc-event).other {
  border-right: 8px var(--other) solid;
  padding-right: 0px;
}
.import, a:not(.fc-event).import {
  border-right: 8px var(--import) solid;
  padding-right: 0px;
}
