// Switch-paddle
//-----------------
.switch-paddle::after {
    background: #fefefe;
    content: '';
    display: block;
    position: absolute;
    height: 1.5rem;
    left: 0.25rem;
    top: 0.25rem;
    width: 1.5rem;
    transition: all .25s ease-out;
    transform: translate3d(0,0,0);
    border-radius: 5px;
}

.switch-paddle {
    background: #cacaca;
    cursor: pointer;
    display: block;
    position: relative;
    width: 4rem;
    height: 2rem;
    transition: all .25s ease-out;
    border-radius: 5px;
    color: inherit;
    font-weight: inherit;
}
