// Switch-paddle
//-----------------
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3.5rem;
  background-color: var(--grey-accent);
//  &.task { background-color: var(--alert-color) }
//  &.appointment { background-color: var(--notice-color); }
//  &.memo { background-color: var(--warning-color); }
//  &.business { background-color: var(--navbar-color); }
//  &.holiday { background-color: var(--accent-color); }
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0;
  bottom: -0.2rem;
  background-color: darkgrey;
  box-shadow: 0 0.1rem 0.25rem 0rem rgba(0, 0, 0, 0.3);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--success-color);
  &:before { background-color: var(--success-color) }
//  &.task { background-color: var(--alert-color); }
//  &.appointment { background-color: var(--notice-color); }
//  &.memo { background-color: var(--warning-color); }
//  &.business { background-color: var(--navbar-color); }
//  &.holiday { background-color: var(--accent-color); }
//  &:before { background-color: lightgreen }
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
