// Callout component
//------------------
#tagsContainer {
  margin: 1em 0;
  span {
    font-size: 0.9em;
    margin: 3px;
    padding: 6px;
    border-radius: 5px;
    background-color: var(--color-500);
    color: #fff;
  }
}


