// Callout component
//------------------
#tagsContainer {
  margin-top: 1em;
  span {
    font-size: 0.9em;
    margin: 3px;
    padding: 6px;
    border-radius: 5px;
    background-color: #3adb76;
    color: #fff;
  }
}


