<div data-controller="contact">
  <div class="row">
    <div class="columns" id="add-back-arrow">
      <img src="/assets/restore.svg" class="icon large float-left">
      <h2>Versions</h2>
    </div>
  </div>

  <div class="row row-th hide-for-small-only">
    <div class="medium-8 columns">Created</div>
    <div class="medium-4 columns text-right">Select version</div>
  </div>
  <% @contactversions.each do |contactversion| %>
  <div id="versions" class="row odd-even">
    <div class="small-8 medium-8 columns">
      <%= link_to (l contactversion.created_at, format: :long), contactversion_path(contactversion) %>
    </div>
    <div class="small-4 medium-4 columns text-right">
      <img src="assets/difference.svg" class="icon large">
      <%= check_box_tag "version_ids[]", contactversion.id, false, id: contactversion.id,
        data: { action: "click->contact#versions" }, class: "checkBoxClass" %>
      <%= content_tag :span, contactversion.id %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="medium-10 columns"></div>
    <div class="medium-2 columns text-right">
      &nbsp;

      <%= button_to "Compare versions", contactversions_compare_path, id: "compare_btn", class: "button disabled", disabled: true,
        params: { ids: "" }, data: { turbo: false }, method: :get %>

    </div>
  </div>

</div>
