
:root {
  --main-color:     purple;
  --button-color:   purple;
  --notice-color:   lightblue;
  --success-color:  green;
  --warning-color:  orange;
  --alert-color:    $alert-color;
  --alert-color-bg: lighten($alert-color, 10%);
}

