
// Dark theme
$body-color:      #352d37;
$text-color:      #b9b5b5;

$primary-color:   #282828;
$secondary-color: #717171;
$accent-color:    #3f3f3f;

$navbar-color:    #575757;
$button-color:    #725858;
$icon-filter:     invert(60%) brightness(100%) contrast(100%);

$notice-color:    #1076ad;
$success-color:   #17bd17;
$warning-color:   #af7409;
$alert-color:     red;
