
.dark-theme {

  // hsl(hue, saturation, lightness)
  // Hue is a degree on the color wheel from 0 to 360. 0 is red, 120 is green, and 240 is blue.
  // Saturation is a percentage value. 0% means a shade of gray, and 100% is the full color.
  // Lightness is also a percentage. 0% is black, 50% is neither light or dark, 100% is white
  --deg: 140deg;
  --sat: 14%;

  --color-950: hsl(var(--deg) var(--sat) 70%);
  --color-900: hsl(var(--deg) var(--sat) 65%);
  --color-800: hsl(var(--deg) var(--sat) 60%);
  --color-700: hsl(var(--deg) var(--sat) 55%);
  --color-600: hsl(var(--deg) var(--sat) 50%);
  --color-500: hsl(var(--deg) var(--sat) 45%);
  --color-400: hsl(var(--deg) var(--sat) 40%);
  --color-300: hsl(var(--deg) var(--sat) 35%);
  --color-200: hsl(var(--deg) var(--sat) 30%);
  --color-100: hsl(var(--deg) var(--sat) 25%);
  --color-50:  hsl(var(--deg) var(--sat) 20%);

  --color-body: hsl(var(--deg) var(--sat) 20%);
  --color-text: hsl(var(--deg) var(--sat) 75%);
  --color-text-diap: hsl(var(--deg) var(--sat) 5%);

  --color-primary: hsl(var(--deg) var(--sat) 30%);
  --bg-primary: hsl(var(--deg) var(--sat) 70%);

  --color-secondary: hsl(var(--deg) var(--sat) 70%);
  --bg-secondary: hsl(var(--deg) var(--sat) 30%);

  --color-notice  : var(--color-200);
  --bg-notice  : var(--color-800);

  --color-success : hsl(140 46% 25%);
  --bg-success: hsl(140deg 46% 70%);

  --color-warning: hsl(40deg 100%, 40%);
  --bg-warning : hsl(40deg 0% 80%);

  --color-alert   : hsl(0deg 100% 40%);
  --bg-alert: hsl(0deg 50% 35%);

  --filter:        invert(55%) sepia(8%) saturate(364%) hue-rotate(201deg) brightness(96%) contrast(85%);
  --filter-diap:   invert(0%) sepia(94%) saturate(0%) hue-rotate(179deg) brightness(108%) contrast(106%);
  --filter-orange: invert(57%) sepia(51%) saturate(1594%) hue-rotate(8deg) brightness(88%) contrast(101%);
  --filter-red:    invert(19%) sepia(81%) saturate(7493%) hue-rotate(359deg) brightness(106%) contrast(121%);

  // Fullcalendar dark-mode
  --fc-neutral-bg-color: var(--color-bg-200);
  --fc-border-color: var(--color-200);
  --fc-page-bg-color: var(--color-body);
  --fc-list-event-hover-bg-color: var(--color-200);
  --fc-button-text-color: var(--color-text);
  --fc-button-bg-color: var(--color-body);
  --fc-event-bg-color: var(--color-notice);
}
