
.dark-theme {

  // hsl(hue, saturation, lightness)
  // Hue is a degree on the color wheel from 0 to 360. 0 is red, 120 is green, and 240 is blue.
  // Saturation is a percentage value. 0% means a shade of gray, and 100% is the full color.
  // Lightness is also a percentage. 0% is black, 50% is neither light or dark, 100% is white
  --deg: 620deg;
  --sat: 32%;

  --color-950: hsl(var(--deg) var(--sat) 70%);
  --color-900: hsl(var(--deg) var(--sat) 65%);
  --color-800: hsl(var(--deg) var(--sat) 60%);
  --color-700: hsl(var(--deg) var(--sat) 55%);
  --color-600: hsl(var(--deg) var(--sat) 50%);
  --color-500: hsl(var(--deg) var(--sat) 45%);
  --color-400: hsl(var(--deg) var(--sat) 40%);
  --color-300: hsl(var(--deg) var(--sat) 35%);
  --color-200: hsl(var(--deg) var(--sat) 30%);
  --color-100: hsl(var(--deg) var(--sat) 25%);
  --color-50:  hsl(var(--deg) var(--sat) 20%);

  --color-body:      hsl(var(--deg) var(--sat) 20%);
  --color-text:      hsl(var(--deg) var(--sat) 90%);
  --color-text-diap: hsl(var(--deg) var(--sat) 90%);

  --color-primary:   hsl(var(--deg) var(--sat) 30%);
  --bg-primary:      hsl(var(--deg) var(--sat) 70%);

  --color-secondary: hsl(var(--deg) var(--sat) 70%);
  --bg-secondary:    hsl(var(--deg) var(--sat) 30%);

  --color-notice:    hsl(var(--deg) var(--sat) 30%);
  --bg-notice:       hsl(var(--deg) var(--sat) 70%);

  --color-success:   hsl(140deg 46% 25%);
  --bg-success:      hsl(140deg 46% 70%);

  --color-warning:   hsl(40deg 100% 40%);
  --bg-warning:      hsl(40deg 0% 80%);

  --color-alert:     hsl(0deg 100% 40%);
  --bg-alert:        hsl(0deg 50% 35%);

  --filter:          invert(80%);
  --filter-diap:     invert(0.9);
  --filter-orange:   invert(57%) sepia(51%) saturate(1594%) hue-rotate(8deg) brightness(88%) contrast(101%);
  --filter-red:      invert(19%) sepia(81%) saturate(7493%) hue-rotate(359deg) brightness(106%) contrast(121%);

  --fc-border-color: var(--color-100);
  --fc-button-active-bg-color: var(--color-200);
  --fc-button-active-border-color: var(--color-200);
  --fc-button-bg-color: var(--color-body);
  --fc-button-hover-bg-color: var(--color-200);
  --fc-button-hover-border-color: var(--color-200);
  --fc-button-text-color: var(--color-text);
  --fc-event-bg-color: var(--color-500);
  --fc-event-border-color: none;
  --fc-list-event-hover-bg-color: var(--color-200);
  --fc-neutral-bg-color: var(--color-200);
  --fc-page-bg-color: var(--color-body);
  --fc-today-bg-color: var(--bg-notice);
}
