
// Dark theme
$body-color:      #352d37;
$text-color:      #b9b5b5;
$text-color-diap: #e5e5e5;

$primary-color:   #282828;
$secondary-color: #717171;
$accent-color:    #3f3f3f;

$navbar-color:    #7c4c66;
$button-color:    #725858;
$icon-filter:     invert(60%) brightness(80%) contrast(100%);
$grey-accent:     #797575;

$notice-color:    #1f688f;
$success-color:   #259525;
$warning-color:   #af7409;
$alert-color:     #e13232;

.dark-theme {
  --body-color: #{$body-color};
  --text-color: #{$text-color};
  --text-color-diap: #{$text-color-diap};
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --accent-color: #{$accent-color};
  --navbar-color: #{$navbar-color};
  --button-color: #{$button-color};
  --icon-filter: #{$icon-filter};
  --grey-accent: #{$grey-accent};
  --notice-color: #{$notice-color};
  --success-color: #{$success-color};
  --warning-color: #{$warning-color};
  --alert-color: #{$alert-color};
}

