
// Light theme
$body-color:      #ffffff;
$text-color:      #121212;

$primary-color:   #6fa688;
$secondary-color: #bed7c9;
$accent-color:    #a6c9b5;

$navbar-color:    #7c4c66;
$button-color:    #a66f8d;
$icon-filter:     invert(100%) brightness(10%) contrast(100%);

$notice-color:    #30b8cb;
$success-color:   #17bd17;
$warning-color:   #f7a40b;
$alert-color:     #e90707;
