
// Light theme
$body-color:      #ffffff;
$text-color:      #121212;
$text-color-diap: #fff;

$primary-color:   #6fa688;
$secondary-color: #bed7c9;
$accent-color:    #a6c9b5;

$navbar-color:    #7c4c66;
$button-color:    #a66f8d;
$icon-filter:     invert(100%) brightness(10%) contrast(100%);
$grey-accent:     #d1d0d0;

$notice-color:    #30b8cb;
$success-color:   #85db85;
$warning-color:   #fac054;
$alert-color:     #e34b4b;

.light-theme {
  --body-color: #{$body-color};
  --text-color: #{$text-color};
  --text-color-diap: #{$text-color-diap};
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --accent-color: #{$accent-color};
  --navbar-color: #{$navbar-color};
  --button-color: #{$button-color};
  --icon-filter: #{$icon-filter};
  --grey-accent: #{$grey-accent};
  --notice-color: #{$notice-color};
  --success-color: #{$success-color};
  --warning-color: #{$warning-color};
  --alert-color: #{$alert-color};
}

