/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require application.css
 * require basic.css
 * require grid.css
 * require base.css
 * require icons.css
 * require_directory ./components
 * require helpers.css
 */

$main-color:     purple;
$button-color:   purple;
$notice-color:   lightblue;
$success-color:  green;
$warning-color:  orange;
$alert-color:    red;


@import 'mixin';
@import 'colors';
@import 'basic';
@import 'grid';
@import 'base';
@import 'icons';
@import 'components/forms';
@import 'components/button';
@import 'components/callout';
@import 'components/dialog';
@import 'components/diff';
@import 'components/flash';
@import 'components/forms';
@import 'components/label';
@import 'components/markdown';
@import 'components/model';
@import 'components/pagination';
@import 'components/tabs';
@import 'components/tooltip';
@import 'helpers';

/* testing */
turbo-frame {
  display: inline-block;
  border: 1px solid blue;
}

