/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require application.css
 * require _dark_theme.css
 * require basic.css
 * require grid.css
 * require base.css
 * require icons.css
 * require_directory ./components
 * require helpers.css
 */

//}

@use 'light_theme';
@use 'dark_theme';
@use 'red_theme';
@use 'mixin';
@use 'basic';
@use 'grid';
@use 'components/icons';
@use 'components/forms';
@use 'components/button';
@use 'components/callout';
@use 'components/dialog';
@use 'components/diff';
@use 'components/flash';
@use 'components/fullcalendar';
@use 'components/label';
@use 'components/markdown';
@use 'components/model';
@use 'components/pagination';
@use 'components/switch';
@use 'components/tabs';
@use 'components/tags';
@use 'components/tooltip';
@use 'print';
@use 'tailwind';
@use 'helpers';
@use 'custom';

/* testing */
turbo-frame {
  display: inline-block;
  border: 1px solid blue;
  width: 100%;
}

