/* Base classes i.o. custom classes for site */

nav.top-bar {
  line-height: 2.5rem;
  text-align: center;
  max-width: 100%;
  background-color: var(--main-color);
  color: #fff;
  a {
    font-size: 1.3rem;
    color: #fff;
    vertical-align: middle;
    span { font-size: 1.2rem; }
  }
}

.secondary-menu {
  font-size: 2rem;
  padding-bottom: 1rem;
  .divider {
    margin: 0.5rem;
    border-right: 1px solid #eee;
  }
}

h1.th, h2.th, h3.th, h4.th {
  margin-top: 1rem;
  border-bottom: 1px solid #eee;
}
label.label-th {
  margin-top: 1rem;
  border-bottom: 1px solid #eee;
  font-size: 1.2rem;
}
.row-caption {
  background: var(--main-color);
  color: #fff;
  a {color: #fff;} a:hover { color: #ddd} a:focus { color: #eee; }
  font-weight: bold;
}
.row-th {
  background-color: var(--main-color);
  color: #fff;
}
.row-caption, .row-th, .odd-even {
  padding: 0.3em 0 0.3em 0.3em;
  line-height: 2em;
  border-radius: 5px;
}

.close-button {
  font-size: 2em;
  margin-top: -0.5rem;
  padding-right: 0px; // for iphone devices
  float: right;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  &:hover { color: #888; }
}

.save-form-alert {
  color: red;
}

.event-show-date-time {
  background-color: var(--main-color);
  color: #fff;
  padding: 5px;
  margin: 0 1em;
  border-radius: 5px;
}

//div.row:has(> .tz-warning:not(> .display-none)) {
div.row:has(> .tz-warning) {
  padding: 1em 0;
  margin-bottom: 1em;
}

// FullCalendar overwrites
//------------------------
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) { margin-left: 0 !important; }
.fc--button,
.fc-dayGridMonth-button,
.fc-listMonth-button,
.fc-listWeek-button,
.fc-multiMonthYear-button,
.fc-today-button,
.fc-timeGridWeek-button {
  display: none !important;
}
a.fc-event {
  &.holiday { color: #fff; background-color: green; }
  &.memo { color: #fff; background-color: orange; }
  &.import { color: #fff; background-color: purple; }
  &.task { color: #fff; background-color: red; }
  &.business { color: #fff; background-color: yellow; }
}
