/* Base classes i.o. custom classes for site */

body {
  color: var(--color-text);
  background-color: var(--color-body);
}
a {
  color: var(--text-color);
  &:hover { color: var(--text-color) };
}

#start {
  background-image: url(/static/images/bg-pim.jpg);
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

div.start p {
    font-size: 1.5rem;
    color: #fff;
    opacity: .8;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}


h1.home {
  font-size: 2rem;
  letter-spacing: 5px;
  margin-bottom: 0;
  text-shadow: -2px 2px 3px #b8b2b5;
}

h1.th, h2.th, h3.th, h4.th {
  margin-top: 1rem;
  border-bottom: 1px solid #eee;
}
.row-caption {
  background: var(--primary-color);
  color: #fff;
  a {color: #fff;} a:hover { color: #ddd} a:focus { color: var(--text-color); }
  font-weight: bold;
}
.row-th {
  background-color: var(--color-500);
  color: var(--text-color-diap);
}
.row-caption, .row-th, .odd-even {
  padding: 0.3em 0 0.3em 0.3em;
  line-height: 1.6em;
}

.close-button {
  font-size: 2em;
  margin-top: -0.5rem;
  padding-right: 0px; // for iphone devices
  float: right;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  &:hover { color: #888; }
}


.save-form-alert {
  color: red;
}

//div.row:has(> .tz-warning:not(> .display-none)) {
//div.row:has(> .tz-warning) {
//  padding: 1em 0;
//  margin-bottom: 1em;
//}

