/* Base classes i.o. custom classes for site */

nav.top-bar {
  line-height: 2.5rem;
  text-align: center;
  max-width: 100%;
  background-color: var(--main-color);
  color: #fff;
  a {
    font-size: 1.3rem;
    color: #fff;
    vertical-align: middle;
    span { font-size: 1.2rem; }
  }
}

.secondary-menu {
  font-size: 2rem;
  padding-bottom: 1rem;
  .divider {
    margin: 0.5rem;
    border-right: 1px solid #eee;
  }
}

label.label-th {
  margin-top: 1rem;
  border-bottom: 1px solid #eee;
  font-size: 1.2rem;
}
.row-caption {
  background: var(--main-color);
  color: #fff;
  a {color: #fff;} a:hover { color: #ddd} a:focus { color: #eee; }
  font-weight: bold;
}
.row-th {
  background-color: var(--main-color);
  color: #fff;
}
.row-caption, .row-th, .odd-even {
  padding: 0.3em 0 0.3em 0.3em;
  line-height: 2em;
  border-radius: 5px;
}

.close-button {
  font-size: 2em;
  margin-top: -0.5rem;
  padding-right: 0px; // for iphone devices
  float: right;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  &:hover { color: #888; }
}

.save-form-alert {
  color: red;
}

a.fc-event {
  &.holiday { color: #fff; background-color: green; }
  &.memo { color: #fff; background-color: orange; }
  &.import { color: #fff; background-color: purple; }
  &.task { color: #fff; background-color: red; }
  &.business { color: #fff; background-color: yellow; }
}
