/* Base classes i.o. custom classes for site */

body {
  color: var(--text-color);
  background-color: var(--body-color);
}
nav.nav-bar {
  line-height: 2.5em;
  text-align: center;
  background-color: var(--navbar-color);
  max-width: 100%;
  color: #fff;
  font-size: 1.2em;
  a {
    color: #eee;
  }
  button {
    background-color: var(--navbar-color);
    border: none;
    color: #eee;
    font-size: 1em;
  }
}
a {
  color: var(--text-color);
  &:hover { color: var(--text-color) };
}

#start {
  background-image: url(/static/images/bg-pim.jpg);
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

div.start p {
    font-size: 1.5rem;
    color: #fff;
    opacity: .8;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

.secondary-menu {
  font-size: 2rem;
  padding-bottom: 1rem;
  .divider {
    margin: 0.5rem;
    border-right: 1px solid #8b8b8b;
  }
}

h1.home {
  font-size: 2rem;
  letter-spacing: 5px;
  margin-bottom: 0;
  text-shadow: -2px 2px 3px #b8b2b5;
}

h1.th, h2.th, h3.th, h4.th {
  margin-top: 1rem;
  border-bottom: 1px solid #eee;
}
.label-th {
  margin-top: 1rem;
  border-bottom: 1px solid #eee;
  font-size: 1.2rem;
}
.row-caption {
  background: var(--primary-color);
  color: #fff;
  a {color: #fff;} a:hover { color: #ddd} a:focus { color: var(--text-color); }
  font-weight: bold;
}
.row-th {
  background-color: var(--primary-color);
  color: var(--text-color-diap);
}
.row-caption, .row-th, .odd-even {
  padding: 0.3em 0 0.3em 0.3em;
  line-height: 1.6em;
}

.close-button {
  font-size: 2em;
  margin-top: -0.5rem;
  padding-right: 0px; // for iphone devices
  float: right;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  &:hover { color: #888; }
}


.save-form-alert {
  color: red;
}

//div.row:has(> .tz-warning:not(> .display-none)) {
//div.row:has(> .tz-warning) {
//  padding: 1em 0;
//  margin-bottom: 1em;
//}

