/* Basic element styling classes for site */

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  &.stretch { width: 100%; }
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.3;
  text-rendering: optimizeLegibility;
}

strong, b { font-weight: bold; }
small { font-size: 90%; }

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h1 {
  line-height: 1.4;
  font-size: 1.75rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.1875rem;
}

h6 {
  font-size: 1.125rem;
}

a {
  line-height: inherit;
  color: #1779ba;
  text-decoration: none;
  cursor: pointer;
}

a:hover, a:focus {
  color: #1468a0;
}

a img {
  border: 0;
}

hr {
  clear: both;
  max-width: 75rem;
  height: 0;
  margin: 1.25rem auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #cacaca;
  border-left: 0;
}

ul, ol, dl {
  margin-left: 2rem;
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6;
}

blockquote {
  margin: 0 0 1rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #cacaca;
}

blockquote {
  line-height: 1.6;
  color: #8a8a8a;
}

fieldset {
  margin: 1em;
  border: solid 1px var(--grey-accent);
  padding: 1em;
  border-radius: 5px;
}

.subheader {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  line-height: 1.4;
  color: #8a8a8a;
}

ul.no-bullet, ol.no-bullet {
  margin-left: 0;
  list-style: none;
}

code {
  border: 1px solid #cacaca;
  background-color: #e6e6e6;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #0a0a0a;
  display: inline;
  max-width: 100%;
  word-wrap: break-word;
  padding: 0.125rem 0.3125rem 0.0625rem;
}

legend { font-weight: bold; padding-left: 5px; padding-right: 5px; }

iframe { border: 0; }
