/* Helper classes for site */

.hide { display: none !important }
.display-block { display: block; }
.invisible { visibility: hidden; }
.visible { visibility: visible; }
.display-inline { display: inline-flex; }
.display-inline-block { display: inline-block; }
.display-flex { display: flex; }
.display-none { display: none; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.float-left { float: left !important; }
.float-right { float: right; }
.super { vertical-align:super !important; }
.sub { padding-top: 6px; }
.radius { border-radius: 5px; }
.vertical-align-middle { vertical-align: middle; }
.clear { clear: both; }
.underlined { text-decoration: underline; }
.cursor-pointer { cursor: pointer }
.pointer-events-none { pointer-events: none; }
.white-space-pre-wrap { white-space: pre-wrap; }
.strong { font-weight: bold; }
.hide { display: none; }
.nobr { white-space:nowrap; overflow: hidden; }
.h-space { margin: 1em 0; }


.primary-color {
  background-color: var(--primary-color);
  color: var(--success-color-diap);
}
.secondary-color {
  background-color: var(--secondary-color);
  color: var(--success-color-diap);
}
.accent-color {
  background-color: var(--accent-color);
  color: var(--success-color-diap);
 }
.notice-color  {
  background-color: var(--notice-color);
  color: var(--success-color-diap);
}
.success-color {
  background-color: var(--success-color);
  color: var(--success-color-diap);
}
.warning-color {
  background-color: var(--warning-color);
  color: var(--success-color-diap);
}
.alert-color   {
  background-color: var(--alert-color);
  color: var(--success-color-diap);
}

.odd-even:nth-child(odd){ background-color: var(--secondary-color); }
.odd-even { &:hover { background-color: var(--accent-color) }}

.disabled { color: #ccc; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meta-data {
  font-size: 90%;
  color: #999;
}

// Don't let user select elements
button, .button, .pagination, .user-select-none {
  user-select: none;
}

