// Tailwind compateble
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 0.75rem; }
.p-4 { padding: 1rem; }
.hidden { display: none }

/* Helper classes for site */

.display-block { display: block; }
.invisible { visibility: hidden; }
.visible { visibility: visible; }
.display-inline { display: inline-flex; }
.display-inline-block { display: inline-block; }
.display-flex { display: flex; }
.display-none { display: none; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.float-left { float: left !important; }
.float-right { float: right; }
.super { vertical-align:super !important; }
.sub { padding-top: 6px; }
.radius { border-radius: 5px; }
.vertical-align-middle { vertical-align: middle; }
.clear { clear: both; }
.underlined { text-decoration: underline; }
.cursor-pointer { cursor: pointer }
.pointer-events-none { pointer-events: none; }
.white-space-pre-wrap { white-space: pre-wrap; }
.strong { font-weight: bold; }
.hide { display: none; }
.nobr { white-space:nowrap; overflow: hidden; }
.h-space { margin: 1em 0; }
.disabled { color: #ccc; }
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meta-data {
  font-size: 90%;
  color: #999;
}

// Don't let user select elements
button, .button, .pagination, .user-select-none {
  user-select: none;
}

// Color helpers
.odd-even:nth-child(odd){ background-color: var(--secondary-color); }
.odd-even { &:hover { background-color: var(--accent-color) }}

.primary {
  color: var(--text-color-diap);
  background-color: var(--primary-color);
}
.secondary {
  color: var(--text-color-diap);
  background-color: var(--secondary-color);
}
.accent {
  color: var(--text-color-diap);
  background-color: var(--accent-color);
 }
.notice {
  color: var(--text-color-diap);
  background-color: var(--notice-color);
}
.success {
  color: var(--text-color-diap);
  background-color: var(--success-color);
}
.warning {
  color: var(--text-color-diap);
  background-color: var(--warning-color);
}
.alert   {
  color: var(--text-color-diap);
  background-color: var(--alert-color);
}

// Category colors
div.appointment, #events a.appointment {
  border-right: 8px var(--notice-color) solid;
}
div.holiday, #events a.holiday {
  border-right: 8px var(--success-color) solid;
}
div.memo, #events a.memo {
  border-right: 8px var(--warning-color) solid;
}
div.import, #events a.import {
  border-right: 8px var(--primary-color) solid;
}
div.task, #events a.task {
  border-right: 8px var(--alert-color) solid;
}
div.business, #events a.business {
  border-right: 8px var(--navbar-color) solid;
}

