// Helper classes
//----------------

.border-bottom-dashed { border-bottom-style: dashed; border-bottom-width: 1px; border-color: var(--color-500); }
.border-right-dashed { border-right-style: dashed; border-right-width: 1px; border-color: var(--color-500); }
.clear { clear: both; }
.cursor-pointer { cursor: pointer }
.disabled { color: #ccc; }
.display-block { display: block; }
.display-flex { display: flex; }
.display-inline { display: inline-flex; }
.display-inline-block { display: inline-block; }
.display-none { display: none; }
.even:not(:first-child):nth-child(even){ background-color: var(--color-100); } // Or use 'odd'
.float-left { float: left !important; }
.float-right { float: right; }
.hidden { display: none }
.invisible { visibility: hidden; }
.meta-data { font-size: 90%; color: #999; }
.odd, .even { &:hover { background-color: var(--color-200) }}
.odd:nth-child(odd){ background-color: var(--color-100); } // or use 'even' to skip first child
.overflow-hidden { overflow: hidden; }
.pointer-events-none { pointer-events: none; }
.radius { border-radius: 5px; }
.strong { font-weight: bold; }
.sub { padding-top: 6px; }
.super { vertical-align:super !important; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.truncate { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.underlined { text-decoration: underline; }
.user-select-none, img, button, .button, .pagination { user-select: none; } // Don't let user select elements
.visible { visibility: visible; }
.white-space-pre-wrap { white-space: pre-wrap; }
.whitespace-nowrap { white-space: nowrap; }
