@media print {
  * {
    background: transparent !important;
    color: black !important;
    print-color-adjust: economy;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  @page { margin: 0.5cm; }

  body {font-size: 70% !important }

  .hide-for-print, .hide-on-print { display: none !important; }

  .column, .columns {
    padding-right: 12px;
    padding-left: 12px;
  }

  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }

  // Hide urls in markdown.
  a[href]:after{  content:""!important; }

  pre, blockquote {
    border: 1px solid #8a8a8a;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  h2, h3 { page-break-after: avoid; }

  .button { border: 1px solid black; }

  a { text-decoration: none }
  .avoid-page-break { page-break-inside:avoid; }
  .print-break-inside { page-break-inside: auto; }

  #footer {
    display: none;
  }

}

@media (forced-colors: active) {
  #tagsContainer span {
    border: 2px #ddd solid;
  }
}
