<dialog id="turbo-confirm" class="dialog text-center text-lg">
  <form method="dialog">
    <p>Are you sure?</p>
    <div>
      <button class="button" value="cancel">Cancel</button>
      <button class="button alert" value="confirm">Confirm</button>
    </div>
  </form>
</dialog>
