<div class="row top-bar">
  <div class="small-2 medium-2 columns ib-home icon--green"><a class="show-for-large" href="/#"> Home</a></div>
  <div class="small-2 medium-2 columns ib-calendar-month"><a class="show-for-large" href="#"> Calendar</a></div>
  <div class="small-2 medium-2 columns ib-people"><a class="show-for-large" href="/contacts"> Contacts</a></div>
  <div class="small-2 medium-2 columns ib-article"><a class="show-for-large" href="#"> Posts</a></div>
  <div class="small-2 medium-2 columns ib-bookmarks"><a class="show-for-large" href="#"> Bookmarks</a></div>
  <div class="small-2 medium-2 columns ib-lock"><a class="show-for-large" href="#"> Keys</a></div>
</div>
