<nav class="top-bar">
<div class="row">
  <div class="small-2 medium-2 columns">
    <a href="/" class="ib-home"><span class="show-for-large"> Home</span></a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/calendar" class="ib-calendar-month"><span class="show-for-large"> Calendar</span></a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/contacts" class="ib-people"><span class="show-for-large"> Contacts</span></a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/posts" class="ib-article"><span class="show-for-large"> Posts</span></a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/bookmarks" class="ib-bookmarks"><span class="show-for-large"> Bookmarks</span></a>
  </div>
  <div class="small-2 medium-2 columns">
    <a href="/keys" class="ib-lock"><span class="show-for-large"> Keys</span></a>
  </div>
</div>
</nav>
