<div class="row top-bar">
  <div class="small-2 medium-2 columns fi-home"><a class="show-for-large" href="/#"> Home</a></div>
  <div class="small-2 medium-2 columns fi-calendar"><a class="show-for-large" href="#"> Calendar</a></div>
  <div class="small-2 medium-2 columns fi-torsos"><a class="show-for-large" href="/contacts"> Contacts</a></div>
  <div class="small-2 medium-2 columns fi-page"><a class="show-for-large" href="#"> Posts</a></div>
  <div class="small-2 medium-2 columns fi-bookmark"><a class="show-for-large" href="#"> Bookmarks</a></div>
  <div class="small-2 medium-2 columns fi-key"><a class="show-for-large" href="#"> Keys</a></div>
</div>
