<% if resource.errors.any? %>
<div class="row">
  <div class="columns callout alert">
    <%= pluralize(resource.errors.count, "error") %> prohibited this contact from being saved:
    <ul>
    <% resource.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
